[2017-11-10 15:31] emregoynugur opened #10 "Implement the server for Python requests"
**User Scenario:** Server functionality (ClientObject.cs and ServerObject.cs files) required for handling requests from Python scripts/programs should be implemented.

The architecture for this component has to be discussed. i.e. a simple event router, a web server, micro-service architecture etc.

**Acceptance Criteria:**

TBD

[2017-11-10 20:48] iamtrask commented on #10
This is a great issue! We basically need the most efficient (in terms of both dev time and runtime) method possible for controlling our C# backend from our Python front end - just spitballing here - compressed JSON seems like a reasonable place to start - sent over ZMQ

[2017-11-10 20:50] iamtrask commented on #7
+1 - only detail to add is that the functions should automatically check to see where the data is stored and run the appropriate code (HLSL or local CPU code)

[2017-11-10 21:10] iamtrask commented on #10
The second answer in this one seems promising - https://stackoverflow.com/questions/6620165/how-can-i-parse-json-with-c

dynamic stuff = JsonConvert.DeserializeObject("{ 'Name': 'Jon Smith', 'Address': { 'City': 'New York', 'State': 'NY' }, 'Age': 42 }");

string name = stuff.Name;
string address = stuff.Address.City;

[2017-11-10 21:15] iamtrask commented on #10
Note to self - always check Unity's own documentation first - https://docs.unity3d.com/Manual/JSONSerialization.html

[2017-11-10 21:20] iamtrask commented on #10
Got Unity's example code working there - now my mind is wondering where we should put the parsing functionality. I'm inclined to think we should put it as close to the actual functionality as possible. Like - logic for parsing commands interacting with the FloatTensor object should be managed by the FloatTensor object - that way when you want to add a new function - you only have to interact with

[2017-11-10 22:08] iamtrask commented on #10
I stopped here: https://github.com/OpenMined/OpenMined/pull/11

[2017-11-11 14:28] iamtrask opened #13 "Define Syft Abstract Types"
As a starting place, we should take what we have learned from the previous implementation and establish what the abstract types should be for Syft (that nearly all other objects will implement). In my view, this conversation is about considering what we like from frameworks like Tensorflow and/or PyTorch and extending it with the kinds of API operations necessary for Mulit-Party Compute and for En

[2017-11-11 14:43] iamtrask commented on #13
That all being said - I don't think that designing the API first and then building single implementations is the most efficient way to proceed. I find that it's a lot easier to build the first prototype that works end-to-end and then generalize the API when you go to implement a second version. For some of the features mentioned above (pretty much everything except MPC), we have this.

[2017-11-11 14:58] iamtrask commented on #10
Picking this up again today - it's hard to make progress on any of the other tickets without having the end user experience available (the client)

[2017-11-11 15:01] iamtrask commented on #10
I'm going to start by swapping out our current functionality with a JSON interpreter just so that we are using/experimenting with something that's both more flexible and easier to read. To that end, I'll be creating a "Command" class which is what gets serialized.

After sleeping on it, I'm also going to implement command logic (translating messages -> API calls) inside the class to which it perta

[2017-11-11 17:38] robertleeplummerjr commented on #13
What other types would be in the initial scope?

[2017-11-11 19:04] emregoynugur commented on #10
I think command pattern is the right way to do it.  All the operations we want to implement can inherit from that base class.

Another question is how do we handle the interprocess communication (Python-Unity)? If IPC is going to happen only locally, then I read that named pipes are the way to go. Otherwise, I guess we should stick to the TCP sockets like you already did.

[2017-11-11 19:16] emregoynugur commented on #13
I guess he is referring to classes in he and mpc packages. One example could be MPCRepo in PySyft (another could be encryptionkey). We could name the abstract class MPCRepo then derive two classes SPDZRepo and RSSRepo from that one to avoid the confusion. Currently, they are both named MPCRepo. Same applies to the MPCNatural class.

However, I also feel like MPCRepo naming might be intentional. In

[2017-11-12 17:12] iamtrask commented on #10
@gavinuhma and I had an hour long call last night walking through different architectures - we landed on the "Asyncronous Request-Reply Server" as a great interim option - we then realized that this was already implemented in ServerObject with a hookup to Python. So, the fortunate part is that we got to just inherit the example code. At a later date we'll need to add a security layer but it was ni

[2017-11-12 17:15] iamtrask commented on #10
To start, I'm assuming SyftController has a global list of FloatTensor objects which it keeps in memory. When we create a new SyftTensor object, it just appends one to the list and returns its index (which is by extension the pointer to that object which python can use). To that end, I'm thinking that we can call the constructor to create a new FloatTensor with the following JSON

[code]

[2017-11-12 17:15] iamtrask commented on #10
I'm going to get a demo working and then try to hook it up to the various functions we already have for FloatTensor

[2017-11-12 17:36] iamtrask opened #16 "Conversation: Defining Training Use Cases"
At the Hackathon on Sunday, November 12, 2017 we started describing the various use cases for what kinds of data/models we want to be able to train in the marketplace, specifically the permutation of Public/Private, Future/Past information sources across four schema Training Input, Training Output, Validation Input, and Validation Output. Clearly, this is a massive number of possible options, but

[2017-11-12 18:13] MarcoROG commented on #13
I think the NN module will need to be completely "obfuscation" agnostic :we don't want to rewrite the same code for MpC and HE.
So we want a base tensor type whose interface includes all the maths operations.
We'll then inherit with HETensor and MPCTensor which provide the Shareable and Enccryptable behaviour, the user is expected to instance those, do the encryption and sharing part and then pass

[2017-11-13 10:00] emregoynugur commented on #16
I know I mentioned this before in Slack (maybe because I work on this topic :)), but IoT data might be very relevant. As IoT devices increase in number and variety,  more data (sensitive real time data) is exposed to the companies and AI will play a huge role in this domain. I guess privacy violations become particularly important since they include information about your the majority of your dail

[2017-11-13 14:13] emregoynugur commented on #6
I think we need to merge the branches api_progress and control-basic-nn-from-python branches, because it is difficult to work on issues concurrently without causing conflicts.

We can then restructure and refactor the project and create necessary folders and files even if they are empty.  Waiting for suggestions from more experienced developers! Something simple like below would make it easier to

[2017-11-13 19:22] emregoynugur commented on #13
@MarcoROG > Do we need to make two duplicates of that class?

This might be a good way to start.  If it feels like they can be unified, then we can look for a way to do it.

[2017-11-14 09:50] emregoynugur commented on #5
I started working on this issue. I guess we should talk about the following:

- The primitive data, which is suitable for encryption operations.
- Should we support more than 2 dimensions? This could really simplify the implementation.

[2017-11-14 10:51] emregoynugur commented on #5
I guess we need 3D tensors for Conv Nets etc anyway. So nevermind.

[2017-11-14 13:20] iamtrask commented on #16
IoT is a great use case! Where do you think this maps into the Rheubric mentioned above? (i.e., Train/Valid-Input/Output: Public/Private-Past/Future

Could be multiple - but figuring out which permutations of that rheubric are relevant is one of the most important things we can do at this stage.

[2017-11-14 13:24] iamtrask commented on #13
@MarcoROG

In many cases, we will have no choice but to rewrite the same end functionality (but different code) for Plaintext, MpC, and HE. So, while I totally agree that we want the API to be consistent, the primary reason why we cannot use current DL libraries like TensorFlow or PyTorch is because not only are the primitive types different...but you use different methods to compute functions. Fo

[2017-11-14 13:29] iamtrask opened #20 "Conversation: Plausible Initial Dataset"
As a part of the development of OpenMined - we need to collect a running list of PUBLIC datasets we can use for examples in the MVP. We only want to use PUBLIC datasets in the beginning because we want to have freedom to move fast and break things without worrying too much about security at this stage. Here are a few starters.

- http://yann.lecun.com/exdb/mnist/
- https://www.cs.toronto.edu/~kriz

[2017-11-14 13:30] iamtrask commented on #20
Hugh Harvey (from slack) sent me another good one
- https://www.nih.gov/news-events/news-releases/nih-clinical-center-provides-one-largest-publicly-available-chest-x-ray-datasets-scientific-community

[2017-11-14 14:19] diegoalejogm commented on #20
Here's a popular one https://github.com/zalandoresearch/fashion-mnist

[2017-11-14 14:52] TheLeanAcademic commented on #20
Should these be datasets of grouped data? I.e. so the data can be partitioned by group and placed in mines. Or just general public datasets like weather etc?

[2017-11-14 15:00] nahuakang commented on #20
This is very exciting and I think we could be ambitious with the type of dataset we use in the MVP. Hence I'd recommend a *video dataset*. After all, the future world will consist of a lot of video data, which could be highly relevant to privacy and is an important field for decentralization (i.e. video content analysis and video surveillance).

The video dataset I'd recommend is **Jester**, free

[2017-11-14 16:16] ollieperree commented on #20
http://www.umiacs.umd.edu/~zhugy/tobacco800.html

[2017-11-14 17:51] abe732 commented on #20
I've done some work with US government weather datasets, which tend to be pretty complete and consistent data. The formats can be tough to work with sometimes though as a lot of them are .grb binary format. They have an FTP server that you can access everything from near-real time satellite imagery to radar data: https://www.ncdc.noaa.gov/data-access. NASA has similar datasets from a couple of the

[2017-11-14 17:52] abe732 commented on #20
Here's the FTP server for NOMDAS (US non-NASA weather data): ftp://nomads.ncdc.noaa.gov/

[2017-11-14 19:18] iamtrask commented on #5
Just saw this! I have some strong opinions on this one actually. The underlying data structure should always be a vector (just an array) - and we should have a second array that stores the dimensionality. In this way - we can reshape the number of rows and columns without moving any data around.

[2017-11-14 19:18] iamtrask commented on #5
The basic FloatTensor I implemented already in this project stores data this way as well.

[2017-11-14 19:18] iamtrask commented on #5
does that make sense?

[2017-11-14 22:32] Floev commented on #20
If we want a large variety of datasets, this one might be a good idea:
https://data.gov.uk/
Another one:
https://open.nasa.gov/open-data/

[2017-11-15 03:05] bharathgs commented on #20
(public datasets)[https://github.com/caesar0301/awesome-public-datasets]

[2017-11-15 07:48] emregoynugur commented on #5
Yes, it does. I am actually taking your FloatTensor implementation as a reference. Also, I am looking into how other frameworks implemented tensors in C and C++.

[2017-11-15 11:37] emregoynugur commented on #16
IoT domain is just too vast and there are very different scenarios. But I guess it doesn't add a new permutation.

[2017-11-15 13:09] iamtrask opened #25 "Possible Bug: Transpose Should Move Data"
From reading the code in (https://github.com/OpenMined/OpenMined/blob/master/Assets/OpenMined/Syft/Tensor/BaseTensorGeneric.Ops.cs), it looks like transpose simply changes the dimensions recorded in strides/shapes. Unless I'm reading it wrong, this is actually aking to PyTorch's "view" instead of "transpose" because no data is actually moved around.

[2017-11-15 13:12] emregoynugur commented on #25
Ah yes. I actually did not want to decide by myself. There should be a TODO in the code. I was wondering if we should copy the data to a new tensor or not.

I hope this will be the first of the many discussions :)

[2017-11-15 13:16] iamtrask commented on #25
http://pytorch.org/docs/master/tensors.html

Ideally we'd have two separate functions. The one that doesn't move data called "view" and the other that does move data (to a new tensor) called "transpose". I believe "view" still creates a new tensor as well but the raw data underneath points to the same location (only the dimensions vector is different)

[2017-11-15 13:18] emregoynugur commented on #25
It looks like Tensor class would need a new constructor for that functionality as well. We can open a new feature issue for that one.

I will fix this issue.

[2017-11-15 14:14] iamtrask opened #27 "Conversation: MPC Gradient Marketplace"
Over the course of this conversation, we'd like to take the eventual goal of a Multi-Party Compute Gradient Marketplace and break it into bite sized pieces we can work on. I'd like for us to kick that conversation off here.

Project 1: Simple gradient Tree Smart Contract - where people can submit gradients and pick their parent.

[2017-11-15 14:20] diegoalejogm commented on #27
I'll pick this up

[2017-11-15 14:21] iamtrask commented on #27
Note - for this first piece - if we get the simple Gradient Tree working with decrypted gradients - that'll be a nice starting point for working our way towards one compatible with MPC or HE.

[2017-11-15 14:34] iamtrask commented on #27
For those watching at home - there's been a big offline conversation around how renumeration should be happening. There's lots of things still in the air - but a few things have become more solid. First, people should be able to pick which previous gradient to improve upon. In other words, there should be a tree where the Root of the tree is the randomly initialized model, and gradients are branch

[2017-11-15 15:59] emregoynugur commented on #27
Hey,

I am reposting my question from Slack:

Can people submit as many gradients as they want to a particular model? e.g. if a model requests some personal info like gender, age etc., can people still compute several gradients? This would mean that they are actually processing the information of another person, right? Is this something permitted/desired?

[2017-11-15 19:31] diegoalejogm commented on #27
I don't understand how people would be processing the information of another person. Each gradient's data is encrypted, so other's can't obtain the data from existing gradients. The posible issue is the quadratic growth of the trees, if miners try to mine starting on every node.

[2017-11-15 20:31] emregoynugur commented on #27
Sorry, if it wasn't clear. I was wondering if a scenario like below would happen? (if it is allowed/prohibited/encouraged)

- Data Scientist asks for personal information of users
- User A accepts the request and submits his Facebook profile (age, location, gender etc.)
- User A gets paid for his contribution (so far so good)
- User A logs in with **a different** Facebook account and submits its p

[2017-11-15 20:40] diegoalejogm commented on #27
That is a scenario we could handle somehow... Maybe by checking duplicate hashes before training... Anyways re-training multiple times would reduce the gradient the same sample gives, so in the limit that person would stop earning any significative money. Moreover, the model could start overfitting and on that point that user certainly won't earn any.

Regarding the tree I am creating, there are c

[2017-11-15 20:53] emregoynugur commented on #27
I think you misunderstood me. I was just asking if it is possible to submit fake data if it improves the performance. I am particularly referring to information that maps one-to-one like age, height, gender etc.

For instance, after submitting her own profile, could a user create a new Facebook profile and submit another gradient, which could yield better performance if the sample is properly crea

[2017-11-15 21:16] emregoynugur opened #31 "Unique Index For Users"
**User Story:**  Server should assign a unique id to each attached user (u_id).

We can use Router-Dealer example of NetMQ to differentiate clients. http://netmq.readthedocs.io/en/latest/router-dealer/

**Acceptance Criteria:**

- Server should keep a structure that allows us to search users/clients with their u_ids.

[2017-11-15 23:50] diegoalejogm commented on #27
Oh I understand your point now. Sorry for the misunderstanding.

That's true, limiting the number of gradients submitted by one person could discourage that. Though people could still create their first gradients with fake data.

What could be useful then is limiting the number of gradients a user submits to the same branch in the tree.

[2017-11-16 14:56] emregoynugur opened #33 "Unique Index For Tensors"
**User Story:**  Server should assign to each tensor (t_id) a client creates. We could use these ids in the command class and to manage data access.  This id could simply be an object counter for each user.

**Acceptance Criteria:**

- Server should keep a structure that allows us to search users with their u_ids and tensors inside the user space. An example structure could be: UserTable<u_id, Ten

[2017-11-17 14:39] iamtrask commented on #27
@erfannoury I answered this question here -https://www.youtube.com/watch?v=47enlQQcMQc

[2017-11-17 14:40] iamtrask commented on #27
Basically - there's no way to limit the number of gradients that a person can submit - because everyone is anonymous. However, if someone submits the same gradient over and over, they'll cause the model to overfit. Branching explicitly allows people to overcome this by skipping gradients that appear to be overfitting.

[2017-11-17 14:42] iamtrask commented on #33
This is a killer issue - a side note worth mentioning is that in the final api (PySyft or syftj.s) we want all this to be abstracted away so that it feels like they're working with normal tensors.

[2017-11-17 14:43] iamtrask commented on #31
I believe @gavinuhma has implemented this functionality.

[2017-11-17 15:25] emregoynugur commented on #31
Yes :) waiting for him to commit. Current implementation gets client ids but it doesn’t store them.

We can also consider a secure authorization mechanism like using Json Web Tokens, but no rush :)

[2017-11-17 20:34] siarez opened #36 "Learning resources, better commenting and a simple tutorial"
I was very involved with PySyft up until 3 weeks ago. I was away for awhile. I'm just learning about the new direction with Unity, and I like to contribute. But it is very hard to find relevant resources or figure things out by reading the code.
I have a couple of suggestions that would smooth out the way for new contributors:
1. Create a bare bones notebook that runs simple (multiplication, addit

[2017-11-17 21:53] emregoynugur commented on #36
Hello Sia,

I am new to the project, but I will try to answer your questions as much as I can. There is a hackathon tomorrow (11 a.m. London time) and I am hoping that some good progress will be made.

1. We just started to project and it is still in the early design phase. All math operations will probably be re-implemented. Since the most of the functionality is not there (at least their final f

[2017-11-19 07:47] emregoynugur opened #45 "Potential Bug: Tensor Id"
Index generation for tensors is implemented using List.count. This could introduce a conflicting id if we decide to remove an element from the list. Since we don’t keep different tensor lists for different users (might be needed for mpc?), this could again be a problem.

We might want to keep a static counter in the tensor class and increment it in a thread safe fashion.

[2017-11-19 07:51] emregoynugur opened #46 "Refactor: SyftController.cs to create new tensor objects"
Current implementations of tensor operations are in FloatTensor and they modify the calling object. This modifies the tensor of a Syft client. e.g a + b changes a.

We can implement a wrapper in the math package which SyftController can use and that wrapper could create new tensors as needed.

We can also consider removing all these ops out of FloatTensor.

[2017-11-19 07:57] emregoynugur opened #47 "Research/Discussion: Finding out the right thread numbers for GPU kernels"
We need to find a way to use the right amount of threads in GPU kernels.

I found this thread:

https://gamedev.stackexchange.com/questions/66198/optimal-number-of-work-groups-for-compute-shaders

This could be a reference too:

http://developer.download.nvidia.com/compute/cuda/CUDA_Occupancy_calculator.xls

[2017-11-19 08:07] emregoynugur commented on #46
If we are going to keep the ops in FloatTensor, we can simply modify the existing operators to create a new tensor as well.

[2017-11-19 13:54] iamtrask commented on #31
Something worth considering - the number of client users into a single Mine is probably going to be quite small. From clients like PySyft - i'd be surprised if a mine ever had more than 1 or 2. However, mine->mine communication will probably be quite a few more to facilitate the training.

[2017-11-19 13:55] iamtrask commented on #31
but concurrently i'd be surprised if there were more than a dozen or so - simply because the local GPU is unlikely to process more models that that at one time

[2017-11-20 14:07] galletti94 commented on #51
That's a great question! It is true that with functional programming often comes adverse effects on performance. After doing some research on C#, I think these effects are minimal with the way we wrote our functions. Let me try and walk through the Map() example. We have the following:

       `public FloatTensor Map(Func<float, float> f)
        {
            FloatTensor output = new FloatTensor

[2017-11-21 14:03] alberduris commented on #52
Hi @itssmutnuri

I can't reproduce the first error (invalid syntax) but in respect to the second error:

In fact, the Tensor that is trying to be created in the Notebook should return that error because as you can see it's true that _data_ and _shape_ doesn't match

`sc.FloatTensor([0,0,1,0,1,1,1,0,1,1,1,1], [3,3,3,3])`

_data_ has 12 elements and _shape_ is [3x3x3x3] so it's impossible to fit tha

[2017-11-21 14:53] Floev commented on #52
Alberto, passing error messages back to python. Is a good idea.

@itssmutnuri <https://github.com/itssmutnuri>
I have made changes to the pring recently and @iamtrask changed the tensor
shape code. Can you git pull both pysyft and openmind?

On 21 Nov 2017 14:03, "Alberto Blanco Garcés" <notifications@github.com>
wrote:

Hi @itssmutnuri <https://github.com/itssmutnuri>

I can't reproduce the first

[2017-11-21 15:19] alberduris commented on #52
Hi @Floev,

I cloned both repos just before trying to replicate the error. It currently has the "problematic" tensor.

[2017-11-22 00:09] andorsk commented on #16
So there's a lot to be discussed around this I think as testing is particularly dynamic based upon the models that people are using, what they are trying to achieve as a result, what data they are testing on .

Let's say AI Corp's validation data was crap, or doesn't generalize well to their other requirements.  What happens if they need to swap test data? How does that impact the bounty?

What ha

[2017-11-22 00:20] andorsk commented on #52
@itssmutnuri Please ensure you are using Python3.
[code]

[2017-11-22 00:26] andorsk commented on #36
I think we should have a `docs` repo (or a wiki) to point people in the right direction. I'm working on getting some documentation done...but still putting together a lot of the pieces. I'll add some notes to the issue with a proposal once I've gotten farther along.

[2017-11-22 00:32] andorsk commented on #27
Assuming you get enough scale it'll be pretty hard for any single person to contribute enough toward a model that it starts overfitting toward their own data. @iamtrask if they are overfitting the model the accuracy will go down on the test set (assuming their test set isn't also biased). Why does it matter if they submit multiple gradients? As long as the accuracy improves it shouldn't matter, an

[2017-11-22 00:56] andorsk commented on #36
Here's a proposal for a documentation repo. Please take a look. Some of these still need to be figured out, but for a new contributor it's important the guidelines are set early. I figured this could be a barebones structure of something we could work toward with the documentation.

Doc Proposal:

	Overview
		- What is OpenMined?
		- I want to contribute. Where should I start?
	Architecture
		- Ba

[2017-11-22 01:04] andorsk commented on #36
There's a repo that is useful that I didn't see:
https://github.com/OpenMined/Docs

Maybe it can be built off this.  @iamtrask please let me know your thoughts. Maybe we can convert it to a wiki?

[2017-11-24 07:04] emregoynugur commented on #49
Many thanks to @diegoalejogm  for implementing tests for all the ops we have! However, we still need tests for the GPU versions of these ops. Should we create a new issue for that or add it here?

[2017-11-25 15:52] #45 closed

[2017-11-25 15:53] #33 closed

[2017-11-25 15:53] #31 closed

[2017-11-26 19:37] Floev commented on #52
The notebook has been remove temporarily.
Working on a new version https://github.com/Floev/OpenMined/blob/master/notebooks/MLP%20Demo.ipynb
This is not complete yet, but https://github.com/OpenMined/OpenMined/pull/88 is a first step

[2017-11-28 20:42] iamtrask opened #95 "Windows GPU Kernel Bug - When a kernel is passed the same buffer twice"
When you're calling "setBuffer" to bind a tensor's "dataBuffer" object to a GPU kernel.... if you call it more than once on the same dataBuffer (because you're adding a tensor to itself...say... y = x + x) then the second call to "setBuffer" erases the first one (but only on Windows!!!) This causes very unexpected behavior.
<img width="779" alt="screen shot 2017-11-28 at 8 11 01 pm" src="https://u

[2017-11-28 23:28] #95 closed

[2017-11-29 00:20] diegoalejogm commented on #51
@emregoynugur Shouldn't' this be closed?

@galletti94 We tested the performance with both approaches (functional and non-functional), and it was much faster when using non-functional programming (probably there's a better term for this).

[2017-11-29 00:25] galletti94 commented on #51
Good to know - thanks for letting me know! Ill close this issue now

[2017-11-29 13:12] iamtrask opened #102 "Linux Windows Underscore Bug - HLSL bug regarding variable names with multiple underscores"
It appears that giving buffer names with multiple underscores occasionally triggers a "double underscore" error EVEN if the underscores aren't immediately next to each other. The error looks something like this.
![glsl](https://user-images.githubusercontent.com/4328594/33376745-c9c8ee64-d506-11e7-9631-244cd8b1fbd6.png)

This is similar to the following errors:
- [Double Underscore Error](https://p

[2017-11-29 14:21] iamtrask commented on #102
Fixed by https://github.com/OpenMined/OpenMined/pull/103

[2017-11-29 14:21] #102 closed

[2017-11-30 04:46] diegoalejogm opened #110 "Fix ElementwiseSubtract"
Elementwise Subtract Test is failing.
This only happens in CPU:

<img width="174" alt="screen shot 2017-11-29 at 23 48 06" src="https://user-images.githubusercontent.com/4405152/33413778-e30350d2-d55f-11e7-9ff1-e9e466ef09ad.png">

Conversely, in GPU subtraction works alright:
<img width="799" alt="screen shot 2017-11-29 at 23 49 38" src="https://user-images.githubusercontent.com/4405152/33413968-f

[2017-11-30 04:50] diegoalejogm commented on #110
Implemented fix in #111

[2017-11-30 04:50] diegoalejogm commented on #110
@iamtrask Please check. This test was making all commits builds fail in Travis.

[2017-12-02 01:33] gavinuhma commented on #110
looks like the test is passing now @diegoalejogm , nice find

[2017-12-02 01:33] #110 closed

[2017-12-02 22:49] diegoalejogm opened #127 "Floor GPU shader kernel is failing"
<img width="251" alt="screen shot 2017-12-02 at 17 48 32" src="https://user-images.githubusercontent.com/4405152/33520453-2c9ca808-d789-11e7-9c64-a330f3dc30a3.png">

[2017-12-03 20:42] Floev commented on #46
@emregoynugur good to close?

[2017-12-03 21:07] emregoynugur commented on #46
Indeeed

[2017-12-03 21:07] #46 closed

[2017-12-05 18:18] #10 closed

[2017-12-05 18:20] emregoynugur commented on #25
I think we can close this issue

[2017-12-05 23:12] ankit481 commented on #20
AWS public datasets - https://aws.amazon.com/public-datasets/

UCI Machine Learning Repository - https://archive.ics.uci.edu/ml/datasets.html

Kaggle datasets - https://www.kaggle.com/datasets

Google BigQuery public datasets - https://cloud.google.com/bigquery/public-data/

Compendium of public datasets - https://github.com/caesar0301/awesome-public-datasets

KDNuggets public datasets - https://w

[2017-12-07 10:29] gavinuhma commented on #149
Using dotnet conventions makes sense to me

[2017-12-07 23:54] bosr opened #166 "Unity -> Syft messages"
We have the cmd messages from Syft -> Unity, it would be cool to have similar messages from Unity -> Syft. What I'm thinking of are simple JSON messages like

[code]

On Syft side, it would allow to
- remove the need to specify the `return_is_pointer` arg in `param_func`
- easily add types:
  - `trace()` would return a `float`
  - `size()` would return a `np.array`
  - `to_numpy()` would return a

[2017-12-08 15:46] bendecoste opened #170 "Screen Logger breaks with large tensors"
If you run the MNIST demo, the screen logger will crash saying we are trying to print too many elements (mnist tensors are 1x784) for each image

[2017-12-09 13:05] bosr commented on #170
yep! Maybe truncating the string would suffice for now?

[2017-12-11 14:12] diegoalejogm commented on #127
Fixed in #159

[2017-12-11 14:13] diegoalejogm commented on #126
Fixed in #159

[2017-12-12 12:57] gavinuhma opened #191 "Integrate with Unity ML Agents"
Unity has a new project for training intelligent agents through a python API: https://github.com/Unity-Technologies/ml-agents

Wouldn't is be cool if Unity's ML project could take advantage of their own amazing GPU portability?

We're not that far off:

- [They keep an open socket between python<>unity, like we do.](https://github.com/Unity-Technologies/ml-agents/blob/master/docs/Unity-Agents---Py

[2017-12-12 13:02] iamtrask commented on #191
Oh man this would be super cool!!! The other piece we're missing is REINFORCE in our autograd system - i mean technically you could sortof do it by hand - but it'd be a lot nicer if we had it implemented automagically. I believe PyTorch just upgraded their API for this and DyNet has some nice conventions we can take inspiration from as well.

[2017-12-12 13:12] iamtrask commented on #191
Reference on Reinforcement Learning: karpathy.github.io/2016/05/31/rl/

[2017-12-12 14:56] bendecoste opened #192 "Integration Tests"

[2017-12-12 14:58] bendecoste commented on #192
Next thing to try IMO would be building unity on linux.  Then we could have a python image that also runs travis.

[2017-12-12 14:59] bendecoste commented on #192
https://github.com/bendecoste/openmined/tree/feature/integration-test-ci

[2017-12-12 15:45] diegoalejogm commented on #191
What's the REINFORCE functionality in this case? Policy gradient?

[2017-12-12 17:19] justin1121 opened #194 "View function should update strides when inline"
When the View function is called with inline = true the strides need to be updated to compensate for the new shape. The strides are correctly getting updated when not inline because the FloatTensor constructor handles this.

[2017-12-12 17:22] justin1121 opened #195 "View/Squeeze function are copying data to new tensor"
View/Squeeze are currently copying data into the new tensor when they should be using the same memory and just modifying shape/strides of the new tensor.

[2017-12-13 20:49] justin1121 opened #205 "Expand function thoughts"
I have spent some time working through the expand function and have encountered a few issues that conflict with how we are currently doing things. In the pytorch documentation it says that to expand a tensor without allocating any new memory all you need to do is set the stride of the expanded dimensions to zero. While I'm not 100% sure how this works mathematically it feels intuitively correct be

[2017-12-13 21:50] emregoynugur commented on #205
We thought of utilizing `shape`, `strides`, and `isContiguous` like PyTorch does, when we first implemented the transpose function. But for some reason we preferred keeping tensors contiguous. Since we adopted a fast development process, we never had a chance to discuss this issue again :).

I honestly haven't had the time to check the `View` function, but that might also be wrong (at least in the

[2017-12-14 14:34] justin1121 commented on #205
So for example, a {4, 1} matrix extended to a {4, 4} matrix, its size would become 16. I think this makes sense we would just have to be careful with using the size to iterate through the tensor's data.

So expanding a tensor makes it no longer contiguous. Are there some other functions that might have the same effect?

[2017-12-14 19:06] iamtrask commented on #205
So expanding a tensor makes it no longer contiguous. Are there some other functions that might have the same effect?

Yes - several. Concatenation is the first one that comes to mind.

[2017-12-14 19:07] iamtrask commented on #205
index-select as well i believe

[2017-12-14 23:46] awjuliani commented on #191
Hi All! I am working at Unity on the ML-Agent's project. We'd love to have OpenMined as an inference (and eventually training) backend for ML-Agents games on Unity. If anyone starts to take this up, feel free to reach out to me about the Unity/Agents side of things.

[2017-12-15 11:21] emregoynugur commented on #205
We can focus on the implementation of the operators in this list (https://github.com/onnx/onnx/blob/master/docs/Operators.md) for the moment. I think `View` and few others are not there at the moment, however this would allow us to import models from other frameworks, which already implement all the operators in Python. We can start by importing simple models.

If we want to support View in our fr

[2017-12-15 14:09] justin1121 commented on #205
I like this approach. That list seems like a pretty good place to start. I think a bit more direction in which functions to implement first is needed. I'm not really sure what functions are most important. I would be willing to follow that list. Any ideas how we could host/track that list ourselves?

In regards to `View`, I'm not 100% what the current issue is. I know `View` isn't currently checki

[2017-12-15 14:30] iamtrask commented on #205
My two cents - I think we definitely want to be able to support View, Squeeze, and onnx conversion. It sounds like it's possible to do all 3. Fixing the strides bug in View is a must (i believe that was my mistake). This would allow us to do Expand without copying data, yes? Seems like the best route to go.

[2017-12-15 14:32] iamtrask commented on #191
@diegoalejogm we're initially starting with Policy Gradient for training - working on a prototype now. I'll let you know when i have a work-in-progress branch

[2017-12-15 14:34] iamtrask commented on #205
As far as a roadmap - sounds like step one would be to upgrade all our other operations with an "isContiguous" check - don't have to implement the non-contiguous versions right away... just have an if statement that requires a "Clone()" to convert it to be contiguous before proceeding.

[2017-12-15 15:12] justin1121 commented on #205
I think this is a good starting point. But I think the Contiguous() function would be what we want not a Clone(). Need some sort of logic to turn a non-contiguous into contiguous. A Clone() would just copy the data wouldn't it?

Would the user be responsible for calling the Clone()/Contiguous() or would the function do it for them? We could just throw an exception for now?

[2017-12-15 15:15] justin1121 commented on #205
If the above is true, I can get started working on this. Think we would need to implement the Contiguous() function as well. Let me know if you have any thoughts on how that should be done, because I'm not sure.

[2017-12-15 16:21] bendecoste opened #221 "How to support dynamic graph on the server"
The goal for the openmined client (pytorch) api is to mirror frameworks that users will already be familiar with.  e.g. we should support

[code]

and we are currently focusing on PyTorch.  A big feature in pytorch is the dynamic compute graph which is calculated each run in the `forward` function (more info [here](http://pytorch.org/about/#dynamic-neural-networks-tape-based-autograd)).  This disc

[2017-12-15 22:57] #166 closed

[2017-12-16 13:28] emregoynugur commented on #205
We probably have to implement `Contiguous()`. The simplest way would be to utilize `GetIndex` function like our current `Transpose` implementation. However, I don't think this is the most efficient implementation method :).

I think User shouldn't care about `Contiguous()`. I checked what PyTorch is doing and it seems like their `Copy()` function, which is called by their `NewClone() function, alw

[2017-12-16 14:31] #194 closed

[2017-12-16 14:31] #195 closed

[2017-12-16 15:38] emregoynugur commented on #221
We, previously, discussed that at some point we have to convert/serialize the Python code into a format that the Unity application would understand. i.e. data providers will just accept model requests from data scientists, but they will not run any Python code. For this to happen, data providers' Unity application should be able to download the corresponding Unity model.

Maybe it is time for us t

[2017-12-18 17:16] justin1121 commented on #205
Interesting! That TH_TENSOR_APPLY2_D is very hard to follow! I think the THTensor.c is pretty handy though to figure out how some of the contiguous related functions work.

[2017-12-18 17:26] iamtrask commented on #221
Been thinking about this a lot lately - I think that we can take very flexible inspiration from this class.

https://github.com/OpenMined/OpenMined/blob/master/UnityProject/Assets/OpenMined/Syft/Model/Sequential.cs

This is a static graph - but it uses a dynamic graph under the hood. I think that we could probably pre-define more and more general/abstract graphs that are specifiable on the Python

[2017-12-21 14:12] iamtrask opened #244 "Change RWStructuredBuffer to StructuredBuffer where appropriate in Shaders"
a few weeks ago we had a bug in our Compute Shaders where we got undefined behavior when we passed the same buffer into a kernel twice. Upon messaging Unity, today they got back to us with a very helpful response!!!

You're trying to use the same buffer as OUTPUT on 2 slots in the same compute shader. That is not a legal "move". For your case to work you should set them as read/input-only (use Str

[2017-12-24 15:28] iamtrask commented on #47
There was another conversation brainstorming how we could do this. Here are a few notes:

Challenges:
- you have to set GPU thread groups before compiling - they can't be set on the device.

Advantages:
- Deep Learning is typically the same operations repeated thousands of times. Thus, if we could tune thread groups - we could probably just tune them as a part of the training process.

Solution:
-

[2017-12-24 15:48] iamtrask opened #251 "Deleted Tensor Memory Pooling"
Within the framework, we often need to delete and then re-create tensors of similar (or possibly even identical) size. An example of this is simple forward/backprop within an iteration loop. With each forward propagation, forward activations tensors are initialized. With each backpropagation, many gradient tensors are created. However, when moving to the next forward propagation, all the old activ

[2017-12-29 17:18] #244 closed

[2017-12-31 17:33] iamtrask opened #280 "General Project - Make this Notebook go Faster!!"
# Issue Template

## Context
### User Story:
As a launching point for lots of sub projects, we want to take the functionality that is in [this notebook](https://github.com/OpenMined/OpenMined/blob/master/notebooks/torch/OpenMined%20PyTorch%20-%20CartPole.ipynb
) and simply make it go faster (hopefully faster than PyTorch at some point).

### Acceptance Criteria:

# Checklist:
- [ ] The notebook ge

[2017-12-31 18:40] iamtrask commented on #280
Note: as fas as I can tell, there are two main performance bottlenecks. The first (and by far the biggest) is our Python -> Unity message passing system - which is crazy slow. The second is the fact that we have poor memory management (creating new tensors all the time).

[2018-01-01 19:47] jeremyjordan opened #286 "Run PyTorch testing suite against syft.interfaces.torch"
## Context
We’d like to develop OpenMined such that the functionality mirrors what you could do on PyTorch, but you have more flexibility on where you train your models (thanks to Unity). As a developer, I’d like to be able to verify that the OpenMined library has properly implemented all of the core functionality by cross-checking it against the PyTorch testing suite.

## To do
Run one of the tes

[2018-01-01 20:51] jeremyjordan opened #287 "Implement PyTorch and Keras examples using syft.interface"
## Context
PySyft interfaces allow for developers to write code for the existing deep learning libraries (PyTorch, Keras) that they are familiar with, wrapping the under-the-hood processing to OpenMined.

In order to demonstrate how interfaces work, take an example from either [PyTorch's examples page](https://github.com/pytorch/examples) or [Keras' examples page](https://github.com/keras-team/ker

[2018-01-03 17:18] justin1121 opened #296 "Model Serialization"
We need to be able to serialize models in OpenMined. This needs to be done to send models over the wire and potentially to IPFS. Probably a few different ways to achieve this.

Native C#: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/serialization/

Pros: Built in
Cons: Is this supportable across languages?

Protobufs: https://github.com/google/protobuf

Pros: Portable

[2018-01-03 17:38] bendecoste commented on #296
imo protobuffs would be worth looking into especially if there is also going to be a .js framework

[2018-01-03 17:39] justin1121 commented on #296
I think to start we're just doing unity -> unity deserialization/serialization. So builtin C# might be a good idea. But if there's a slight chance we want to support other languages probably best to start with something portable so we don't have to make it portable in the future.

[2018-01-03 17:41] bendecoste commented on #296
we already have to do serialization for to_numpy and it comes up a bit during development (agree it's less needed when you are actually training)

It would also be beneficial for the `Command` object
[code]

[2018-01-04 19:09] bendecoste opened #299 "OpenMined Grid ®"
### Motivation

We have been talking about having the ability to train a bunch of different models a bunch of different ways quickly.  Enter the OpenMined Grid!

Imagine being able to train a model testing multiple different architectures, learning rates, etc all at the same time, well soon you can!

### The Plan

Subject to change based on discussion in here!

![image](https://user-images.githubu

[2018-01-04 19:13] bendecoste commented on #299
Some other thoughts.  The above api doesn't really let you mix and match configs that well.  In the example above I would expect that to learn 8 times.  Each learning rate with each model.  But maybe you don't want to test fast learning rates with the high dropout model.

Another possible api

[code]

where the configration objects look something like this

[code]

[2018-01-04 19:14] bendecoste commented on #299
### Division of labour

I am pretty interested in owning the IPFS portion of this project.  I think that the other big pieces are

- blockchain
- implementing the API itself (both client and server)

[2018-01-04 19:30] justin1121 commented on #299
I can look into the python API. I like your second API suggestion. Will probably do something like that!

[2018-01-04 19:31] bendecoste commented on #299
cool .. i believe @gavinuhma is looking into blockchain piece

[2018-01-05 10:56] morgangiraud commented on #296
Maybe this format would be interesting: [Flatbuffers](https://google.github.io/flatbuffers/)
- [Github](https://github.com/google/flatbuffers)

It is a light Protobuff, simpler and performance oriented. It works on Python/JS/C# already and many more to comes.

[2018-01-05 20:17] justin1121 opened #304 "Infura Ethereum"
See https://github.com/OpenMined/OpenMined/issues/299

[2018-01-05 20:17] justin1121 opened #305 "Infura IPFS"
See https://github.com/OpenMined/OpenMined/issues/299

[2018-01-05 20:18] justin1121 opened #306 "PySyft OpenMined Ethereum/IPFS Integration"
See https://github.com/OpenMined/OpenMined/issues/299

[2018-01-05 20:20] justin1121 commented on #306
part of this has been completed here https://github.com/OpenMined/PySyft/pull/742

[2018-01-05 20:23] justin1121 opened #307 "Unity Demo - Reinforcement Training"
Demo in Unity showcasing our reinforcement training.

[2018-01-06 00:46] jeamick commented on #299
Hi guys , fantastic if someone needs help for infura or anything concerning Blockchain feel free to ping me on slack @justin1121  @bendecoste

[2018-01-09 14:56] morgangiraud commented on #296
# Some thoughts on serialisation

## Graph serialisation
ML frameworks deals with graphs containing operations and weights(data). To serialise it, one has to:
- Save the model architecture
- Save the weights of the model
- Save the potential optimiser/loss/etc. architecture
- Save the optimiser/loss/etc. states

## Choice made by other frameworks

### Keras
#### single file
- Format:  HDF5
- Usage

[2018-01-09 16:29] justin1121 commented on #296
This is great! Good idea figuring out how pytorch, etc. do it. Not sure the benefit of using flatbuffer over just JSON is. @bendecoste has spent some time inserting a json blob into IPFS and that seems to work.

This part I'm not sure we really need to support. This is the point of ONNX its a cross-platform protocol that hopefully all deep learning frameworks would support one day. So if we wanted

[2018-01-09 18:26] iamtrask commented on #296
So on the one hand, ONNX is a great format with lots of veristility. However, on the other hand, we're supporting entire interfaces for PyTorch and Keras, and the ability to go back and forth in the same notebook is pretty freaking sweet. Also, going direct is likely to be quite a bit faster. It might even be useful for unit testing.

Also, the author of Keras makes some good points here. ONNX doe

[2018-01-09 18:28] iamtrask commented on #296
I'd say the highest priority, however, is very _fast and efficient_ serialization so that we can send models over the wire. Any guesses which will be best for that?

[2018-01-09 18:42] bendecoste commented on #296
i think serialization efficiency will be pretty negligible compared to waiting for someone to pick up your job & actually running the training.  Not to say that we should ignore the performance

[2018-01-09 18:43] morgangiraud commented on #296
My research on this shows that the subset of Protobuf: flatbuffer seems to be the fastest and most efficient.

But we might try something like keras where we serialize the topology in JSON and in Flatbuffer/protobuf the weights. The JSON could then be furthermore encoded in the flatbuffer/protobuff as a simple string.
Not sure if that is the best way, but probably the fastest one to implement.

[2018-01-09 22:49] daviddemeij opened #315 "can't do model.predict(x) if the size of x is not equal to the training batch size"
## Expected Behavior
When you run model.predict() on a few specific examples you expect the model to output a prediction.

## Current Behavior
If you try to do a forward pass on a certain number of examples that is not equal to the training batch size, you get an error.

## Failure Information (for bugs)
When training batch_size = 256 and you try to predict 5 examples you get the error below.
`Ten

[2018-01-11 16:29] daviddemeij opened #318 "Test mode Forward() function"
# Issue Template

## Context
### User Story:
When trying to evaluate the model or make predictions we want the predictions to be as good as possible and deterministic.

In order to realize this we need a test_mode for the Forward pass function that disables dropout at test time.

### Acceptance Criteria:
Add an optional bool `test_mode` which is `false` by default and if turned on disables dropout

[2018-01-11 22:12] bendecoste commented on #315
some extra info from @iamtrask

the problem is in this file https://github.com/OpenMined/OpenMined/blob/master/UnityProject/Assets/OpenMined/Syft/NN/Layer.cs#L105

[5:37]
105 and 107 is the bug

[5:38]
to save on memory - we re-use the same tensor for forward propagation

[5:38]
so when you change the dimensionality of hwat gets passed in

[5:38]
it doesn't fit with last_input_buffer

[5:38]
becau

[2018-01-12 00:24] bendecoste commented on #315
https://github.com/OpenMined/OpenMined/blob/master/UnityProject/Assets/OpenMined/Syft/NN/Linear.cs#L46 is ultimately what breaks.  The `.Contiguous()` call reshapes the tensor to be the same size as the training batch size.

@iamtrask is this the right area to be focusing in on or is this something that should be handled during training?

[2018-01-13 14:58] heidekrueger opened #325 "Elementwise Division broken on GPU"
# Issue Template

Bug: GPU elementwise division is broken for `tensor.id = this.id`

## Expected Behavior

`DivElemGPU` and `DivElemGPU_` return the correct elementwise division result

## Current Behavior / Failure Information (for bugs)

`DivElemGPU` returns `this + 1`
`DivElemGPU`  fails to take into account `tensor.id = this.id` and returns `Inf`.

### Steps to Reproduce (for bugs)

Please pro

[2018-01-13 14:58] heidekrueger commented on #325
I'm working on a fix.

[2018-01-13 16:39] #325 closed

[2018-01-13 16:51] bendecoste commented on #36
i think https://github.com/OpenMined/tutorials is also a step in the right direction!

[2018-01-13 18:22] matthew-mcateer commented on #20
Here is a list of a topic-centric public data sources that are of pretty decent quality. They
are collected and tidied from blogs, answers, and user responses.
Most of the data sets listed below are free, but some are not. I've tried to label which ones are which.

Agriculture
------------
* [U.S. Department of Agriculture's PLANTS Database](http://www.plants.usda.gov/dl_all.html)
* [U.S. Departme

[2018-01-13 18:25] matthew-mcateer commented on #20
Personally, I think the ideal dataset should be used to solve some sort of difficult problem (more than just what you'd run on a single machine for an ML class, for example), or something that could have public significance (say, related to some sort of current event on the style of [FiveThirtyEight](http://fivethirtyeight.com/)). I'm sure there's an intersection between them, and I think we proba

[2018-01-13 18:27] matthew-mcateer commented on #20
I think one thing to consider with the MVP, once we demonstrate it we could have some sort of way of importing the data when OpenMined is installed. I'm envisioning something similar to Tensorflow's ```f
[code]

What I'm saying is that the MVP could serve an additional function of being usable in tutorials.

[2018-01-13 18:36] iamtrask commented on #20
This is awesome!!!

[2018-01-13 18:37] iamtrask commented on #20
I'm a big fan of having access to demo datasets be as easy as possible, and there's no better heuristic for good ones than what you mentioned... whatever people use!

Adding a few initial good datasets with that kind of support would be a great PR @matthew-mcateer if you're interested :)

[2018-01-14 02:53] xnutsive opened #344 "Add IntTensor integration tests and examples"
## Context
As a developer who is new to the project, I'd like a way to make sure my pull request doesn't break things. To do that, I want a suite of tests to run after I implemented a feature.

We have some integration tests in `integration/tests.py` using PyTest (cc @bendecoste), but that only tests `FloatTensor`.

We also have a notebook that explores OpenMined tensor API `notebooks/tests/Test T

[2018-01-14 02:59] xnutsive opened #345 "Improve contribution guidelines"
### Context

I'm new to the project and it was a bit unclear what exactly should I check for before creating a pull request with some code updates. What test suites to run, what parts of projects to update.

We came up with the list:

[code]

I'm working on clarifying what PySyft integration tests and examples notebook should look like here (#344). Once we come up with a decision on tests and exam

[2018-01-14 03:19] bharathgs commented on #345
@xnutsive this sounds good to me

[2018-01-15 01:01] gavinuhma opened #354 "Replace case statement in processMessage"
## Context
### User Story:
The case statement in `processMessage` is difficult to deal with, and growing. We should come up with a better design. Ideas for a dictionary or enum have been thrown around.

This applies to both `FloatTensor` and `IntTensor`, so maybe we could have `BaseTensor` handle it.

### Acceptance Criteria:
Please provide what would the acceptance criteria be, for this issue to

[2018-01-15 01:03] gavinuhma commented on #354
cc @xnutsive @Agent007 @justin1121

[2018-01-15 01:16] Agent007 commented on #344
IntTensor tests are definitely needed. Does it make more sense to move the tests to PySyft since we're calling the Python code?

[2018-01-15 01:26] xnutsive commented on #344
@Agent007, I agree, it makes more sense to keep python tests with the python lib.

I'll take this.

@iamtrask @gavinuhma want me to also move the tests to PySyft repo?

[2018-01-15 01:31] justin1121 commented on #344
Hey, putting the integration tests in the OpenMined repo was discussed here https://github.com/OpenMined/OpenMined/pull/144. I agree with what @bendecoste was saying.

[2018-01-15 01:38] justin1121 commented on #354
I'd be curious to see a small code sample of what using a dictionary would look like. Not 100% sure what that would look like.

Also something to consider would be how we could integrate the solution into the PySyft/Syft.js so we don't have to use strings there either.

Another thing I was just looking into was http://graphql.org/learn/ which might be an interesting direction to take. Don't know m

[2018-01-15 01:53] xnutsive commented on #344
Got it, sounds reasonable.

I'll start with just adding some IntTensor tests.

[2018-01-15 02:26] gavinuhma commented on #354
hrmm. good point re the syft clients

[2018-01-15 18:39] xnutsive opened #357 "Bug: IntTensor.reciprocal() sometimes devides by zero"
## Context
I was writing some `IntTensor` integration tests (#344) and the reciprocal test is failing, it appears, because something tries to divide by zero, I assume it's on CPU.

### Acceptance Criteria:
Please provide what would the acceptance criteria be, for this issue to be closed, and include a checklist of those items.

# Checklist:
- [ ] `pytest test_int_tensor.py` passes the `reciprocal`

[2018-01-15 18:49] xnutsive opened #358 "Bug: IntTensor.sqrt() returns zeroes instead of floats"
## Context

I was writing some IntTensor integration tests (#344) and the `sqrt()` test is failing, it returns an array of zeroes.

## Checklist:

- [ ] `pytest test_int_tensor.py` passes the `sqrt` test
- [ ] Added a test for null arguments

## Expected Behavior

We expect IntTensor.reciprical to behave just like [PyTorch sqrt implementation](http://pytorch.org/docs/master/torch.html).

- [ ] Cal

[2018-01-15 19:00] #344 closed

[2018-01-15 22:21] xnutsive commented on #345
Done and merged, we can close that I think.

[2018-01-15 22:21] #345 closed

[2018-01-15 22:21] xnutsive commented on #307
@iamtrask that's also super interesting, let me know if I can help here.

[2018-01-16 00:15] shubham3121 commented on #357
@xnutsive in the pytest integration/test_int_tensor.py, in test_int_reciprocal(): data = np.random.rand(3,2), thus data will be float numbers in range of [0, 1) and  a = IntTensor(data) converts these float numbers to zero, thus we are getting a Divide by zero error on reciprocal.

[2018-01-16 02:00] shubham3121 commented on #357
The same goes for issue #358

[2018-01-16 02:19] xnutsive commented on #357
Oooops. Yep feel free to switch them to fixed Int tensors in tests.

Still, we should probably either not allow creating int tensors with float values, or trunc them in init.

[2018-01-16 03:42] shubham3121 commented on #357
I also some what feel the same.

[2018-01-16 16:33] #305 closed

[2018-01-16 17:20] justin1121 opened #364 "Upload weights/gradients IPFS address to blockchain"
## Context
### User Story:

As a trainer I want to be able to upload the IPFS address of the weights I've trained to the blockchain so the data scientist can then retrieve and use them.

### Acceptance Criteria:

# Checklist:
- [ ] Upload IPFS address as trainer
- [ ] Download IPFS address as data scientist

[2018-01-18 02:35] itssmutnuri commented on #20
I guess some (or all) of these might have been mentioned here, but [this]( https://docs.google.com/spreadsheets/d/1wZhPLMCHKJvwOkP4juclhjFgqIY8fQFMemwKL2c64vk/edit) doc by Jeremy Singer contains many good links to some excellent datasets.

It's a spreadsheet containing all the links shared via [Data is Plural](https://tinyletter.com/data-is-plural), an weekly newsletter.

[2018-01-18 18:54] poppingtonic commented on #20
The list of Kaggle datasets is pretty good, and I'd like to suggest a more specific one that has potentially high ROI for data scientists: [the Rossmann Store Sales competition](https://www.kaggle.com/c/rossmann-store-sales). It is structured, and can be solved using a deep learning approach using the method explored by the competition's 3rd place winners known as 'categorical entity embeddings'.

[2018-01-21 17:38] #364 closed

[2018-01-22 14:49] bendecoste opened #386 "MNIST ML Using Optimizer notebook is broken"
### Acceptance Criteria

# Checklist:
- [ ] Notebook runs and predicts MNIST

Running this notebook should be able to predict mnist, instead it crashes with

[code]

[2018-01-22 15:00] daviddemeij commented on #386
This is fixed when you change:
[code]

[2018-01-22 15:02] bendecoste commented on #386
Pytorch API is also input then output.  I will look into switching them

[2018-01-22 15:05] bendecoste commented on #386
It's also written input then output everywhere in the code so maybe they are getting switched somewhere.

[2018-01-22 15:10] daviddemeij commented on #386
Ah I see you found it, I was just looking there as well. Good job!

[2018-01-22 15:10] daviddemeij commented on #386
Probably have to check if the ordering in the other notebooks is still correct now

[2018-01-22 15:11] #386 closed

[2018-01-22 15:12] bendecoste commented on #386
They got switched in this PR https://github.com/OpenMined/OpenMined/pull/378/files which only closed yesterday.  I imagine the other notebooks were momentarily broken, but i'll take a quick look

[2018-01-22 15:13] bendecoste commented on #386
MLP using layers is broken but for a different reason.  Making an issue now.

[2018-01-22 15:15] bendecoste opened #388 "Lots of broken notebooks"
I have testing ML using autograd and MLP using layers and they are both broken.

### Acceptance Criteria:

# Checklist:
- [ ] All Notebooks work again

## Expected Behavior

All notebooks work

## Current Behavior

Not all notebooks work!

semi related: https://github.com/OpenMined/OpenMined/issues/386

[2018-01-22 18:25] Floev commented on #386
378 wasn't meant to be pushed, had a wip tag on it. Have done some more work yesterday to adress some of the oustranding items. Might be able to update tonight.

[2018-01-25 17:51] bendecoste commented on #299
This is done!

[2018-01-25 17:51] #299 closed

[2018-01-26 17:23] #296 closed

[2018-01-31 05:27] ChatSam opened #409 "IntTensor methods sin(), cos() which are broken"
The IntTensor methods which return objects of type FloatTensor which are sin() and cos() are broken.

<img width="1105" alt="screen shot 2018-01-31 at 12 17 58 am" src="https://user-images.githubusercontent.com/6478266/35606314-656cb044-061c-11e8-918a-3d7ea7345cb2.png">

[2018-01-31 05:29] ChatSam commented on #409
Issue moved to [OpenMined/PySyft #1314](https://github.com/OpenMined/PySyft/issues/1314) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-31 05:29] #409 closed

[2018-02-01 19:49] jvmancuso commented on #75
Bump!

[2018-02-01 19:59] jvmancuso opened #414 "Testing `random_` and `uniform_` in FloatTensor."
# Issue Template

## Context
### User Story:
As a user of OpenMined, I want to be sure that the current version is stable.  This requires testing.  Currently, there are no unit tests for the `random_` and `uniform_` methods of FloatTensor.  These tests should be placed in [test_float_tensor.py](https://github.com/OpenMined/OpenMined/blob/master/integration/test_float_tensor.py).  A future PR will

[2018-02-03 09:16] emregoynugur commented on #358
This might be the desired behavior, since you probably do not want to convert your IntTensor to a FloatTensor after an operation. However, I am not sure :) What do you @iamtrask think?

[2018-02-06 09:55] jpgbus commented on #27
Instead of focusing on how one's profile components will affect the magnitude of a gradient, how about systematically rewarding accuracy and completeness of one's profile?

In every sense of the term, data integrity is paramount. Properly structuring this incentive such that folks are willing to give the same level of effort and care in getting it right that they would when submitting personal inf

[2019-10-01 04:17] Thaina opened #432 "Could we have this repo as UPM reference?"
https://forum.unity.com/threads/samples-in-packages-manual-setup.623080/

[2020-11-12 20:10] cereallarceny opened #1 "Migrate OMUI"
## Description
We need to move OMUI over to this codebase as a library, and be able to create versioned releases here as well. Since we'll be integrating an existing website with OMUI, there may be some subtle design discrepancies, so we need to be very careful here.

## Are you interested in working on this improvement yourself?
- Yes, with @hericlesme

[2020-11-12 20:12] cereallarceny opened #2 "Change the way we're including Icons with FontAwesome"
## Description
Right now, the way we import `<Icon />` components into the codebase is rather ugly:

[code]

We need to simplify this a bit when we migrate to using OMUI. This issue is blocked by: https://github.com/OpenMined/openmined/issues/1

## Are you interested in working on this improvement yourself?
- Yes, with @hericlesme

## Additional Context
Add any other context or screenshots.

[2020-11-12 20:20] cereallarceny opened #3 "Remove @ts-ignore issues"
## Description
Right now we have some Typescript errors in the courses website that I've commented out using the `// @ts-ignore` flag. Likewise, I've allowed this rule in the ESLint configuration as well. I'd like to remove that rule in ESLint, and fix all the Typescript linting errors. You can find all of these issues by doing a project search for `@ts-ignore`. Below is a current list of the one'

[2020-11-12 20:23] cereallarceny opened #4 "Solve an issue with chakra-ui related to adding a theme to the Divider component"
Simply put, we need this issue to be resolved: https://github.com/chakra-ui/chakra-ui/issues/2405

Once this is fixed, we should update OMUI and then remove the following code from our theme file:

[code]

[2020-11-13 14:49] kirbiyik opened #5 "Github authorization requires access to both public and private repos"
## Question
Why it is necessary to access private repos?

## Screenshots
If applicable, add screenshots to help explain your question
.
<img width="498" alt="Screen Shot 2020-11-13 at 17 41 48" src="https://user-images.githubusercontent.com/16326440/99084780-6f92fe00-25d8-11eb-9d48-8cd9ddc6e3ce.png">

## System Information
 - OS: MacOS

[2020-11-17 17:10] cereallarceny opened #6 "Solve an issue with chakra-ui related to adding theming to the root level Tabs component"
Simply put, we need this issue to be resolved: https://github.com/chakra-ui/chakra-ui/issues/2548

Once this is fixed, we should update OMUI and then remove the following code:

[code]

And instead add it to the main theme file as a tabs variant.

[2020-11-18 18:29] cereallarceny opened #7 "Make sure that when a user account is deleted, their collections and subcollections are deleted"
Self-explanatory, read the title.

[2020-11-18 18:59] cereallarceny opened #8 "Pressing "enter" on Sign In will trigger the Github Login"
When we hit the "enter" or "return" key on the sign in form, it triggers the Github login instead of the "Sign In" button. This is a bit confusing, and ironically, does the exact opposite for the sign up form. So the sign up form works as intended, but sign up doesn't... despite being basically identical code.

[2020-11-18 19:00] cereallarceny opened #9 "Migrate all form submissions and Firebase logic to be async/await"
Write now, we're using a combination of async/await and promises, which is a bit strange. We should just use async/await everywhere. Do a find and replace for `.then` and `.catch` and should be able to replace all the instances accordingly.

[2020-11-29 20:08] cereallarceny commented on #13
1. Push changes to the same branch (`feature/courses`)
2. @cereallarceny to do visual overview
3. Merge
4. Do review of TOS and PP PR
5. @cereallarceny to do visual overview of that PR
6. Merge

[2020-11-30 14:48] cereallarceny commented on #13
**Footer**
- [x] Replace absolute links for courses in footer with relative links
- [x] Change title from "Catalog" to "Courses"
- [x] Github should be spelled "Github" with no capital "H"
- [x] Only have the target=_blank and rel=noopen for the external links... which should only be under "resources"
- [x] Have Courses and Resources next to each other on medium up

**Courses**
- [x] On mobile up,

[2020-11-30 17:18] 0xHericles commented on #13
Done, except for the focus:

Maybe an issue in chakra `1.0.0-rc.5`.

@cereallarceny

[2020-12-08 08:05] HarshCasper commented on #3
Hello @cereallarceny

I would like to work on this Issue if it's still open!

[2020-12-08 10:55] cereallarceny commented on #3
Let's chat on Slack - DM me

[2020-12-22 20:49] #1 closed, assigned to cereallarceny, 0xHericles

[2020-12-22 20:49] #2 closed, assigned to 0xHericles

[2020-12-22 20:49] #3 closed, assigned to nobody

[2020-12-22 20:49] #4 closed, assigned to nobody

[2020-12-22 20:49] #6 closed, assigned to nobody

[2020-12-22 20:49] #7 closed, assigned to cereallarceny

[2020-12-22 20:50] cereallarceny commented on #5
I've changed this to just be public now @kirbiyik . We want to see how our community re-engage with contributing to our codebase after taking some courses. Everything we do is open-source, literally all of it. So I promise you there was no nefarious intent. Closing this issue now.

[2020-12-22 20:50] #5 closed, assigned to nobody

[2020-12-22 20:52] #9 closed, assigned to nobody

[2021-01-01 19:19] cereallarceny opened #49 "Finish basic Cypress tests"
Finish all the currently developed Cypress tests and make sure they pass completely.

[2021-01-01 19:21] cereallarceny opened #50 "Have rich text editor toolbar scroll with you down the page"
We want the toolbar for the rich text editor to scroll with you down the page, but stop in it's current top-most position as you scroll up to the top.

[2021-01-01 19:23] cereallarceny opened #51 "Store the "number" of a user according to when they signed up"
We need to store the "number" of user that a user is in Firebase using a cloud function. All users have a hash-based index, which is fine, but we need to know when the number of users reaches a certain threshold since we only have space for a certain number of users. We should store this information on the User's Firestore document. Also - this has to work RETROACTIVELY for all existing users.

Se

[2021-01-01 19:25] cereallarceny opened #52 "Add support for server-side rendering"
We need to get SSR working for the homepage and profile pages at minimum. I can't remember how to best do this with Firebase Functions, nor can I remember how to make it conditional for SOME of the pages. We'll also want to implement some sort of caching strategy for this. [I know that Firebase has some solutions around this already](https://www.youtube.com/watch?v=82tZAPMHfT4).

Search for this i

[2021-01-01 19:27] cereallarceny opened #53 "Redo the page changing logic"
We need to redo the logic for changing pages to be done using client-side navigation only. Unfortunately this is super prone to race-conditions and it's been quite challenging to get it working perfectly.

Search for this issue's url in the codebase to find where it should be done.

[2021-01-01 19:28] cereallarceny opened #54 "Redo the permissions gate"
Redo the permissions gate to allow for projects and project parts with or without attempts. We probably need a "configuration" based strategy for this. Might be good to write some tests!!

Search for this issue's url in the codebase to find where it should be done.

[2021-01-01 19:30] cereallarceny opened #55 "Change links to colorScheme"
Change all links to use colorScheme instead of color once this issue is fixed: https://github.com/chakra-ui/chakra-ui/issues/2870

[2021-01-01 19:31] cereallarceny opened #56 "Add tests for remaining courses helpers functions"
There's a series of very important functions in the `_helpers.tsx` file inside of the courses routes folder for the courses app. We need to write tests to complete coverage for this file.

[2021-01-01 19:32] cereallarceny opened #57 "Refactor the project accordion"
Self-explanatory. Maybe also refactor a few other related components.

[2021-01-01 19:33] cereallarceny opened #58 "Prevent mentors from being reassigned to the same review they just resigned from"
Self-explanatory

[2021-01-01 19:34] cereallarceny opened #59 "Add pagination to My Activity on Mentor dashboard"
Self-explanatory

Search for this issue's url in the codebase to find where it should be done.

[2021-01-01 19:36] cereallarceny opened #60 "Keep a running tally of the number of project submissions in the queue"
Self-explanatory

Search for this issue's url in the codebase to find where it should be done.

[2021-01-01 19:37] cereallarceny opened #61 "Keep a running tally of the number of reviewed submissions and resigned submissions"
Self-explanatory

Search for this issue's url in the codebase to find where it should be done.

[2021-01-01 19:39] cereallarceny opened #62 "Rewrite the helpers functions"
Write the course helpers functions in the order in which they need to appear (per the flow of the course, not grouped by topic). That will make those rules much more readable. Secondly, you should ensure that the tests build on each other (i.e. testing completion of a lesson means testing the completion of all previous lessons and their respective concepts). You may need to modify the tests for th

[2021-01-01 19:39] cereallarceny opened #63 "Refactor helpers tests"
Because the tests for the helpers are so long, perhaps write a few functions in the test logic to generate the users, courses, lessons, etc. It should save a lot on the number of lines of code in the file and make it much more readable.

[2021-01-01 19:40] cereallarceny opened #64 "Combine the courses header and the main header"
Try to share a lot of logic between the courses' header and the main header. They share a LOT of logic and it would be good to make these reusable or combine them somehow.

[2021-01-01 19:41] cereallarceny opened #65 "Skin the video player"
I'd love for us to skin the video player. [Similar to what's being done here](https://plyr.io/). But that library, and all others, are HUGE and we can't afford to add them to our bundle size. Is there some lightweight way to do some basic YouTube video styling without a massive library?

[2021-01-01 19:42] cereallarceny opened #66 "Find some sort of way of getting cloud functions working locally and deployable without main field in package.json"
Self-explanatory

[2021-01-01 19:42] cereallarceny opened #67 "Find some sort of way to serve Firebase functions and run them in the shell locally"
Perhaps this? https://medium.com/mean-fire/nx-nrwl-firebase-functions-98f96f514055

[2021-01-02 17:29] em-blue opened #68 "Need to be able to go back and re-watch already-watched lessons"
## Description
A clear and concise description of the bug.

## How to Reproduce
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected Behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version:

[2021-01-02 17:32] jaintj95 opened #69 "Lesson 2: Data is fire - Website crashes on answering quiz"
## Description
Website crashes on answering quiz

## How to Reproduce
1. Go to Lesson 2: Data is fire
2. Click on the right answer for quiz 1 (all of the above)
3. Website crashes

## Screenshots
![image](https://user-images.githubusercontent.com/36858630/103462906-92c36980-4d4e-11eb-8886-cdbe469ec365.png)

[2021-01-02 17:35] jaintj95 commented on #69
I am unable to progress with the course because the next lessons won't load unless I answer the quiz.
Maybe the quizzes can be made optional temporarily until all the bugs are ironed out.

[2021-01-02 17:46] adrinjalali opened #70 "Fail to login with github on firefox"
## Description
Trying to log in to courses.openmined.org, on firefox, with adblockers installed and third party cookies disabled, I see this:

![Screenshot from 2021-01-02 18-22-41](https://user-images.githubusercontent.com/1663864/103463113-47975f80-4d2a-11eb-9881-7131771db7f2.png)

This account is already linked with GH, using chrome, and loging in on chrome works.

Trying to set a password whil

[2021-01-02 18:16] nahuakang opened #71 "Bug on Quiz Choices in Lesson Data is Fire"
## Description
On [lesson 2: data is fire](https://courses.openmined.org/courses/our-privacy-opportunity/1f34d3a8-2fa1-4a1e-9ef1-eaaf9dddd617/fcf32a04-4bfe-4f84-be84-e540ff653d30), I cannot click the last 2 multiple choices for the quiz (one of which is the correct answer).

## How to Reproduce
1. Go to [lesson 2: data is fire](https://courses.openmined.org/courses/our-privacy-opportunity/1f34d3a8

[2021-01-02 18:24] jaintj95 opened #72 "Allow view access to project module even when previous lesson modules are not fully complete"
## Description
Being able to access and view the project module and full project instructions helps keep everything in mind while working through the course such that you can iteratively build your project while going through the course.

What I mean by that is, usually for any course I pursue, I go through the project module and check out all the instructions and guidelines and note them down. Th

[2021-01-02 18:37] cereallarceny commented on #68
Closing because this issue is mislabeled as a bug and the content is not properly filled out.

[2021-01-02 18:37] #68 closed, assigned to nobody

[2021-01-02 18:38] cereallarceny commented on #69
This has been fixed, please hard refresh. Closing.

[2021-01-02 18:38] #69 closed, assigned to nobody

[2021-01-02 18:39] cereallarceny commented on #70
Please follow the instructions listed in the #courses channel on Slack:

1. Make sure you’re logged out first.
2. Go to the /signup page
3. Sign up again (using the email/password signup, not Github) with the SAME email you use to login to Github
4. Once signed up and logged in, go to the account settings page: /users/settings
5. Go to Manage Account
6. Unlink your Github account
7. Re-link your G

[2021-01-02 18:39] #70 closed, assigned to nobody

[2021-01-02 18:39] cereallarceny commented on #71
This has already been fixed, please hard refresh.

[2021-01-02 18:39] #71 closed, assigned to nobody

[2021-01-02 18:41] cereallarceny commented on #72
We provide project descriptions and parts on the course overview page: https://courses.openmined.org/courses/our-privacy-opportunity

[2021-01-02 18:41] #72 closed, assigned to nobody

[2021-01-02 23:11] nahuakang opened #73 "OpenMined Course 1 Lesson 2 "Conflict, Political Science & Information Flows" Missing A Clip"
## Description
[This video](https://youtu.be/xIn54pBRHyA) from 11:53 to 11:58 misses a clip of a real-world example of a 3rd party facilitating the mediation to avoid nuclear actions from India and Pakistan.

## How to Reproduce
Check out the video.

## Expected Behavior
The example from the guest lecturer should be inserted.

## Screenshots
N/A

## System Information
N/A

## Additional Context
N/

[2021-01-02 23:13] nahuakang commented on #73
@em-blue @mcleonard

[2021-01-03 00:27] 4mber commented on #73
@iamtrask

[2021-01-03 03:12] jaintj95 opened #74 "Top and bottom bar take up screen estate and reduce content visibility."
## Description

The top and bottom bar are huge and end up taking quite a significant amount of screen space and therefore even cut through video content.
Maybe the top bar can be auto-hidden since it has no functional use when going through the lessons.
Size of bottom bar could also be reduced.

[2021-01-03 10:30] nahuakang opened #75 "Video Bug: The Copy Problem"
## Description
[Lesson 3 The Copy Problem](https://youtu.be/nwbtX9rr_L0) from 9:01 to 9:19, Cory Doctorow talked about the copy problem as a double-edged sword and then decided that he wanted to start over again and proceeded to provide a better explanation.

## How to Reproduce
1. Go to video at the specified timestamp

## Expected Behavior
1. Remove the repeated content from 9:01 to 9:19
2. Add

[2021-01-03 10:30] nahuakang commented on #75
@iamtrask

[2021-01-03 11:57] cereallarceny commented on #73
Thanks for the report @nahuakang ! Unfortunately, this is an issue with content. I'm going to ask that you instead post this on the courses discussion board, while I close this issue. I'd like to reserve Github issues to strictly be technical in nature.

https://github.com/OpenMined/courses/discussions

[2021-01-03 11:57] #73 closed, assigned to nobody

[2021-01-03 11:58] cereallarceny commented on #74
Fair enough, we can look into this @jaintj95 , but keep in mind you can also just make the video full-screen in your browser. 😄

[2021-01-03 11:59] #75 closed, assigned to nobody

[2021-01-03 11:59] cereallarceny commented on #75
Thanks for the report @nahuakang ! Unfortunately, this is an issue with content. I'm going to ask that you instead post this on the courses discussion board, while I close this issue. I'd like to reserve Github issues to strictly be technical in nature.

https://github.com/OpenMined/courses/discussions

[2021-01-03 14:19] andresti opened #76 "Nothing happens when clicking "Give feedback" or "Get Help""
## Description
Nothing happens when clicking "Give feedback" or "Get Help"

## How to Reproduce
1. Go to 'https://courses.openmined.org/courses/our-privacy-opportunity/'
2. Click on 'resume course'
3. Try to click on "Give feedback" or "Get Help"
4. Nothing happens

## Expected Behavior
There would be a possibility to give feedback or get help

## System Information
 - OS: Ubuntu
 - OS Version: 20

[2021-01-03 14:31] andresti opened #77 "Is the ability to reanswer a quiz intended?"
## Question
Is the ability to reanswer a quiz intended?

## Further Information
If you answer a quiz, go to the next video, and come back, the quiz answer will be unfilled and you can input a new answer. I was wondering if this is the intended behaviour...

[2021-01-03 18:35] adrinjalali commented on #70
Except that Step 7 would result in the same failure. I cannot re-link my GH account on FF.

[2021-01-05 17:59] cereallarceny commented on #76
You're correct @andresti, I've added this to our list of immediate items to fix.

[2021-01-05 18:01] cereallarceny commented on #77
Yes, it is. It doesn't re-record it in the database though, which is also intentional.

[2021-01-05 18:01] #77 closed, assigned to nobody

[2021-01-06 10:31] ITsolution-git commented on #8
@cereallarceny  I cannot reproduce the issue. I fill email/password and type 'enter', it triggers "Sign in" not "sign in with github"

[2021-01-06 12:34] #8 closed, assigned to ITsolution-git

[2021-01-07 23:33] mcleonard commented on #50
Ran into this today, glad you already have a ticket for it 😁

[2021-01-11 12:40] replomancer opened #84 "Broken link: "Exposed: the tricks sellers use to post fake reviews on Amazon""
## Description
Hey,
I found a broken link in Additional Resources (Lesson 2, Concept 10).
I hope it's the right place to report this (technical issue).

## How to Reproduce
1. Go to Lesson 2, Concept 10, Feedback Mechanisms & Information Flows
2. Click on "Exposed: the tricks sellers use to post fake reviews on Amazon"
3. The link is broken (:robot: Robot says, "Oops!").

## Additional Context
Som

[2021-01-12 17:33] cereallarceny commented on #55
This will not be done.

[2021-01-12 17:33] #55 closed, assigned to nobody

[2021-01-13 17:13] cereallarceny commented on #84
This is a content issue, please post it on the discussion board: https://github.com/OpenMined/courses/discussions

[2021-01-13 17:13] #84 closed, assigned to nobody

[2021-01-13 17:43] cereallarceny commented on #74
I'm going to defer this to our design team. Closing for now.

[2021-01-13 17:43] #74 closed, assigned to nobody

[2021-01-13 18:59] #76 closed, assigned to ITsolution-git

[2021-01-16 16:29] #50 closed, assigned to ITsolution-git

[2021-01-18 10:37] cereallarceny commented on #51
PR #82 did not work @ITsolution-git

[2021-01-19 18:42] ITsolution-git opened #88 "Mentor Dashboard Tabs have higher zindex than navbar"
![image](https://user-images.githubusercontent.com/24530559/105078515-2047ce80-5a5c-11eb-9f2c-d9af2b1e0471.png)

The tab should not have higher z index than navbar

[2021-01-20 08:57] MrFord123 opened #91 "Throwing error when trying to log into the course"
## Description
When attempting to log into the openmined course i was thrown the following error.

## How to Reproduce
1. Go to the https://courses.openmined.org/signin
2. Click on Sign in with Github
3. Enter Github credential
4. See error

## Expected Behavior
Should have signed me into the course

## Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-

[2021-01-21 15:34] curt-mitch opened #92 "Multiple states possible for course filter buttons, clearing them does not reset button states"
## Description
The skill level filter buttons on the courses page mistakenly allow multiple options, and clicking "clear filters" does not reset the button states.

## How to Reproduce
1. Go to [courses.openmined.org/courses](https://courses.openmined.org/courses)
2. Click on one of the skill level buttons ("beginner", "intermediate", "advanced")
3. Click on the other skill level buttons
4. Click

[2021-01-22 11:42] Kjeanclaude opened #93 "Final Project Submission"
## Description
There was a problem during the "Final Project: Create a Privacy Product Specification" submission. Surely due to an internet connexion latence, the project had been submited three (03) times during the first submission. While I was expecting a review before other possible submissions. I think there is the need for a control of a review before additional submissions.

## How to Repro

[2021-01-23 16:42] curt-mitch commented on #92
@cereallarceny I've got a fix for this if you want to assign the ticket to me.

[2021-01-26 12:00] cereallarceny commented on #92
Done @curt-mitch , please link your PR to this issue and DM it to me.

[2021-01-27 14:04] cereallarceny commented on #52
Moving to Next.js.

[2021-01-27 14:04] #52 closed, assigned to ITsolution-git

[2021-01-27 23:13] curt-mitch commented on #95
@tcp here's the PR to update the `hericles/cypress` branch that we discussed on Slack.

[2021-01-29 05:31] xadahiya opened #96 "Course complete page not working"
## Description
A clear and concise description of the bug.
When I go to https://courses.openmined.org/courses/our-privacy-opportunity/complete after finishing the course the page says "Sorry, it looks like there was an error!".

## How to Reproduce
Finish the course and go to https://courses.openmined.org/courses/our-privacy-opportunity/complete

## Expected Behavior
A clear and concise descriptio

[2021-02-01 10:59] Akhlak-Hossain-Jim opened #98 "In small device navbar is hiding the content."
![Screenshot_20210127-171217](https://user-images.githubusercontent.com/73884856/106449694-6ebe8980-64ae-11eb-8793-970e672c6b92.png)

The main content body should have some more top margin specified for small devices.

[2021-02-01 11:35] jaintj95 opened #99 "Unable to review project"
## Description
Unable to review project as I keep getting redirected back to dashboard when I click on the Review button.

## How to Reproduce
Clicking on review button loads the project but then redirects me back to the dashboard.

Also, when I resign from a review and then try to assign a new review, I am assigned the same review as before and that one keeps me redirecting me to the dashboard.

[2021-02-01 11:37] jaintj95 opened #100 "Being assigned projects that I have already reviewed"
## Description
I just completed reviewing a project. When I clicked on Assign , I got assigned the same project that I finished reviewing 2 mins ago.

[2021-02-02 07:11] sumeetsgit opened #101 "Unable to access previous reviews and submissions for projects which were "failed""
I got assigned one submission for review today which was "failed" by a previous reviewer for some reasons(which I am not able to see).
Now, this person has resubmitted his assignment with a rebuttal of some of the comments of the previous reviewer. The problem I face now is that I do not see/have access to the older review and hence cannot comment anything on this rebuttal.
Essentially, I need acc

[2021-02-02 10:08] ITsolution-git commented on #100
This is mainly becuase same project with same content submitted twice. The "Submit" button should be disabled once it's submitted to prevent it to be clicked twice. If then, there will be exactly same content, and from mentor's point of view, he is assigned same project.

[2021-02-02 10:17] ITsolution-git commented on #91
@MrFord123
When you signup, did you use email/password? Or you have only used github for signup/signin?

[2021-02-02 10:24] MrFord123 commented on #91
I have used the github signin/signup

[2021-02-02 10:32] ITsolution-git commented on #91
Wow, that was quite fast ;)

I was able to reproduce the issue, I think you have used email/password when you signup. And now you are trying github with the same email.
The error message "An account already exists .... Signin using a provider using the provider associated with this email" bascially means the provider associated with your email is email/password provider. Not github provider.

Next

[2021-02-02 10:45] MrFord123 commented on #91
Thank you. This resolved the issue perfectly

[2021-02-02 10:45] #91 closed, assigned to ITsolution-git

[2021-02-03 05:03] #100 closed, assigned to ITsolution-git

[2021-02-03 08:28] jaintj95 opened #104 "Projects stuck in my queue even though review time has expired"
![locked](https://user-images.githubusercontent.com/36858630/106719104-e49a3080-6627-11eb-978e-537d32162a0d.png)

These reviews are stuck in my queue since yesterday.

[2021-02-03 15:29] curt-mitch commented on #88
Edit: nevermind, I found a way to reproduce this. Working on a fix!

~~Hi @ITsolution-git, can you confirm this is still an issue and maybe provide more context if that's the case? I'm having trouble reproducing this~~

[2021-02-10 17:24] tcp opened #107 "Next.js migration"
Migrate the courses platform to Next.js.

Related issues:
- [x] #108
- [ ] #109

[2021-02-10 17:26] tcp opened #108 "Start Next.js migration and deploy"
Start the Next.js app and deploy to Firebase.

This is the first step towards migrating the app to Next.js and we will do this incrementally over the next weeks. I suggest you create a new directory for the migration and don't worry about copying the old codebase there.

Let's start small, with a base Next.js app and setting up deployment to Firebase.

[2021-02-15 18:56] tcp opened #109 "Next: configure essentials"
## Feature Description
- Set up husky/eslint/prettier
- Testing framework (rtl and cypress)
- Latest react-fire, firebase
- Set up Sentry
- Base SEO

## Additional Context
Let's do a huge setup chunk after #108. Basically, configure our initial tooling for the platform.

[2021-02-17 11:16] #88 closed, assigned to nobody

[2021-02-17 15:31] tthoraldson commented on #96
I'm experiencing this error screen as well when I attempt to go to https://courses.openmined.org/courses/our-privacy-opportunity/complete

- OS Windows 10 Version 10.0.18363
- Browsers:
    - Edge Version 88.0.705.68
    -  Chrome Version 88.0.4324.150

[2021-02-17 15:33] tcp commented on #96
Thanks for reporting this @tthoraldson and @xadahiya.

I'll see if we can fix this in the next 48 hours.

[2021-02-17 21:07] #92 closed, assigned to curt-mitch

[2021-02-18 16:35] tcp commented on #93
Hey @Kjeanclaude! Better late than never -- this has been fixed and is being deployed tonight.

[2021-02-18 16:35] #93 closed, assigned to nobody

[2021-02-18 19:54] #59 closed, assigned to ITsolution-git

[2021-02-22 00:02] hwrdtm opened #111 "Mentor cannot review assignment after being assigned a student project"
## Description
As a mentor, I am unable to review an assignment after having been assigned a student project.

## How to Reproduce

1. Log in
2. Enable Mentor mode
3. Click `Assign` in the project queue for `Our Privacy Opportunity`
4. Click `Review` under `Your Reviews` section
5. Browser visits the student project page very briefly before automatically redirected back to the mentor dashboard at

[2021-02-26 20:08] tcp opened #113 "Preview from Sanity"
## Feature Description
Set staging to preview data from Sanity.

The preview capability allows the team to review the courses before publishing.

[2021-02-26 20:15] tcp opened #114 "Create a `stats` collection"
## Feature Description
Create a stats collection that allow us to have a quick glance at the numbers from the courses platform.

Initially, we can create a collection that covers:

[code]

[2021-02-26 20:40] tcp opened #115 "Mentors should review one project per turn"
## Feature Description
Mentors should be assigned to 1 project per review cycle and only be assigned a new project for review when they are finished (completed review or resigned).

[2021-03-01 10:00] ITsolution-git commented on #115
![Screenshot from 2021-03-01 04-59-39](https://user-images.githubusercontent.com/24530559/109481631-fd410f00-7a4a-11eb-899b-e1483060103c.png)

It works this way... Button is disabled with tooltip if he has 1 or more active reviews

[2021-03-01 10:11] ITsolution-git commented on #114
@tcp
Can you specify if totalReviews/totalPassed/totalFailed/avgTimeToReview is per course? Or just total thoughout the courses... Or both?

https://github.com/OpenMined/openmined/pull/89/files collects information of pending/failed submissions by course.
It's the totalSubmissions...

It collects in courses/{courseName}/numPendingSubmissions
![image](https://user-images.githubusercontent.com/24530

[2021-03-01 11:02] ITsolution-git commented on #104
@tcp
checkForUnreviewedSubmissions runs every 30 mins..  Those reviews stuck because checkForUnreviewedSubmissions failed somehow. Can you find some errors on checkForUnreviewedSubmissions of production db and send it to me?

[2021-03-01 23:35] tcp opened #117 "Apply mentor review rules in firebase"
## Description
We need to edit two rules in the cloud function:

1. Mentors can only review 1 assignment at a time
2. Mentors should not be allocated the same assignment they resigned from

Add both to the submission alloc function.

[2021-03-01 23:36] #115 closed, assigned to ITsolution-git

[2021-03-02 13:35] tcp opened #118 "Customize emails"
## Description
OpenMined Courses emails are standard firebase emails. Add the ability to send emails on specific events.

## Additional Context
More info needed.

[2021-03-02 23:30] #54 closed, assigned to ITsolution-git

[2021-03-02 23:34] tcp commented on #96
Took a bit more time than expected but the fix was merged in `dev` and should hit the courses shortly.

[2021-03-02 23:34] #96 closed, assigned to ITsolution-git

[2021-03-02 23:48] tcp commented on #104
Hey @jaintj95 I went back in time and I couldn't replicate this. I assume that this is not the case anymore.

Sorry we couldn't catch this one. Let us know if happens again.

[2021-03-02 23:49] #104 closed, assigned to ITsolution-git

[2021-03-02 23:50] tcp commented on #98
This has be done very carefully -- components and layouts are reused all over.

[2021-03-03 00:20] tcp commented on #99
It's been a while and I couldn't replicate. Checked the logs for Feb 1st, nothing. Very unfortunate. :(

@ITsolution-git is this fixed by the stricter submission button?

Similar to #58

[2021-03-03 00:21] #108 closed, assigned to ITsolution-git

[2021-03-03 00:28] tcp commented on #114
Per course basis, but stored in the new collection.

[2021-03-03 00:29] tcp commented on #53
Closed by #85.

[2021-03-03 00:29] #53 closed, assigned to nobody

[2021-03-03 00:34] tcp commented on #62
This could be closed by #85. I'll check if we have to do some extra leg work here.

[2021-03-03 00:35] tcp commented on #63
Done in #85.

[2021-03-03 00:35] #63 closed, assigned to nobody

[2021-03-03 00:36] tcp commented on #64
Would also close #98.

[2021-03-03 14:40] tcp commented on #101
This is fixed and tested in dev. Should be live soon.

Thanks @sumeetsgit.

[2021-03-03 14:40] #101 closed, assigned to tcp

[2021-03-03 14:55] curt-mitch commented on #58
@tcp It seems like some of the work this task needs is covered in PR https://github.com/OpenMined/openmined/pull/89, specifically fetching the mentor reviews with status `resigned` from Firebase in `apps/firebase-api/src/app/review.ts` which resolves issue https://github.com/OpenMined/openmined/issues/60.

Should we wait until that PR is merged before starting this task to avoid duplicated work or

[2021-03-03 18:53] ITsolution-git commented on #99
@tcp
Yes. It probably because of that lose submit button.
User was able to create more then submissions in submissions collection. And if the dashboard/Mentor.js catches the error with mismatching submission, it redirects back to dashboard...

So yes.

[2021-03-03 18:57] ITsolution-git commented on #56
This was fixed with permission gate PR - https://github.com/OpenMined/openmined/pull/85

[2021-03-03 18:57] #56 closed, assigned to ITsolution-git

[2021-03-03 19:02] ITsolution-git commented on #111
@tcp
This is the duplication of https://github.com/OpenMined/openmined/issues/99.

As long as there is a submission with more than 4 submissions, reviewers will keep get assigned to that review and this error will be persistent.

Can we find those students/courses with more than 3 submissions in users/courses/{id}/submissions collection and remove one with id greater than 3?

[2021-03-03 19:45] ITsolution-git commented on #58
@curt-mitch
I worked on that PR and I confirm that there wont be duplicated work here. But since two PRs will work on same file review.ts, there will definitely be conflicts.... ;)
CC @tcp

[2021-03-03 20:13] tcp commented on #111
Cool, I'll go over the db and I'll fix it there. :)

[2021-03-03 20:15] #51 closed, assigned to ITsolution-git

[2021-03-04 15:14] #98 closed, assigned to ITsolution-git

[2021-03-04 15:15] #60 closed, assigned to ITsolution-git

[2021-03-04 15:15] #61 closed, assigned to ITsolution-git

[2021-03-08 17:52] tcp opened #122 "Ensure Mentors completion displays 100% in the Dashboard"
It's showing 98%.

[2021-03-08 18:22] #99 closed, assigned to nobody

[2021-03-08 18:25] #62 closed, assigned to tcp

[2021-03-08 18:41] tcp opened #123 "Next button is not working (staging)"
We had a report that the `Next` button was not working properly on Staging for one of our testing users.

After finishing a concept on mobile, the end of the page is impossible to reach and the next button never becomes available. Due to #121.

Make sure the end of the page is reachable and the button becomes available.

We may need to work on the disposition of content in the concept pages, espec

[2021-03-09 15:10] tcp opened #124 "Impossible to finish course (staging)"
It's impossible to finish a course at the moment. By clicking on "Finish", the user is never shown the course complete page and gets redirected to the course overview page.

[2021-03-10 00:10] tcp opened #125 "Allow feedback from users"

[2021-03-10 08:36] nigoshh opened #126 "Progress is lost after changes to syllabus structure"
## Description
During the last 24 hours, the structure of the course syllabus was changed. Now there are more lessons. For example, some concept videos were moved from Lesson 2 to Lesson 3 and Lesson 4 (you can see this from the titles of the videos on YouTube, which still reflect the old syllabus structure). Progress information on some of the concepts was not kept after the restructuring, i.e. v

[2021-03-10 12:00] tcp commented on #126
@nigoshh thank you for reporting this. We're on it.

[2021-03-10 12:29] souravcipher commented on #125
The idea is to provide feedback once the users(students) receive the mentors feedback on their project.

If we can implemement something like stars + comments

e.g. the Give Feedback in the courses but instead of thumbs I will prefer more [stars](https://www.google.com/search?q=stars+feedback&sxsrf=ALeKk03wvfsf-h9cAd0Uk0RaHU7dwsg2Vg:1615378006126&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi2pu6B2KXvAhVY

[2021-03-10 21:28] curt-mitch commented on #122
@tcp Is this referring to the course completion percentage or some other value in the dashboard?

[2021-03-10 21:57] tcp commented on #122
@curt-mitch completion percentage

[2021-03-10 22:24] curt-mitch commented on #122
On a first pass the logic to compute the percentage seems fine and hasn't changed recently:
https://github.com/OpenMined/openmined/blob/bc022805f5afbc098756310e3d7e724b8562aa6e/apps/courses/src/components/CourseProgressCard.tsx#L20

Is it possible that the recent changes to the construction of the course (mentioned here: https://openmined.slack.com/archives/C01HY1GAG76/p1615398252029000) are causi

[2021-03-11 12:04] tcp commented on #122
No, unfortunately it is not linked.

I'll try to gather more info. I've seen in passing the 98% issue, but I'll see if I can replicate.

[2021-03-14 06:40] #123 closed, assigned to ITsolution-git

[2021-03-14 12:31] tcp commented on #124
Closed by #129

[2021-03-14 12:31] #124 closed, assigned to ITsolution-git

[2021-03-14 12:33] tcp commented on #111
Removed the last dangling refs yesterday, should be 100% fixed.

[2021-03-14 12:33] #111 closed, assigned to tcp

[2021-03-14 21:31] IRailean commented on #96
This issue is still present for me.

Chrome Version: 89.0.4389.82

[2021-03-14 21:33] tcp commented on #96
Hey @IRailean! Thanks for reporting. This has been fixed in dev and will hit production in the next update (mon or tue).

[2021-03-14 22:53] tcp opened #132 "Simulcast support"
self-explanatory

[2021-03-15 16:41] IRailean commented on #96
Hi, @tcp  . Thank you!

[2021-03-16 00:37] tcp commented on #126
Fixed.

If you have issues with the progress, please post in the discussion board.

[2021-03-16 00:37] #126 closed, assigned to tcp

[2021-03-16 05:56] evilc3 opened #136 "Time Padding error"
When reviewing the projects the time is partially getting covered by the title.

To reproduce:  Just review a project

[2021-03-16 09:18] tcp commented on #136
Image by @evilc3

![image](https://user-images.githubusercontent.com/802731/111284961-90c43380-8638-11eb-96b2-453b0f5fe05c.png)

[2021-03-16 13:54] #132 closed, assigned to tcp

[2021-03-17 15:11] nigoshh opened #139 ""Next" button not working when zoom level is 120% or higher"
## Description
In the Foundations of Private Computation course, Lesson 1 (Federated Learning), Concept 13 (Duet Exercises: Setup), the "Next" button cannot be clicked; hovering over it shows the text "Scroll down and make sure to complete all quiz questions first!".

## How to Reproduce
Set your browser's zoom level at 120% or higher (I can reproduce it with 2 different browsers).

## Expected Be

[2021-03-17 21:47] tcp opened #140 "Mentors dashbboard is crashing"
## Description
After adding the new course, the mentors dashboard started to crash.

## How to Reproduce
1. Log in as a mentor
2. Go to https://courses.openmined.org/users/dashboard
3. Default error page appears

## Expected Behavior
Not crash

# Additional Context
All mentors reported this crash.

[2021-03-18 13:52] tcp commented on #139
Fixed in #142

[2021-03-18 13:52] #139 closed, assigned to nobody

[2021-03-18 13:52] tcp commented on #140
Fixed by #142

[2021-03-18 13:52] #140 closed, assigned to tcp

[2021-03-18 21:00] nvw1 opened #143 "Tiny spelling mistake in project submission confirmation"
## Description
It says 'Out' instead of 'Our mentors' on in the confirmation displayed after submitting a project. (https://courses.openmined.org/courses/our-privacy-opportunity/project)

## How to Reproduce
1. Go to 'https://courses.openmined.org/courses/our-privacy-opportunity/project'
2. Submit a project
3. Scroll down to the end of the page
4. Click the blue box where it says to write your pro

[2021-03-18 21:01] tcp commented on #143
Thank you @nvw1, I'll ship this in the next batch.

[2021-03-18 22:47] tcp opened #144 "Course complete experience"
The interactions with courses the users have completed are a bit strange. The odd 'Continue Course' button appears at times and it's really hard to move around a completed course.

We should investigate better ways to handle this.

--Kyoko is aware.

[2021-03-19 20:08] ITsolution-git commented on #57
Closing since it's Done!

[2021-03-19 23:05] tcp commented on #57
Hey @ITsolution-git!

PR #86 covered the `ColoredTabs` component and not the project accordion
`apps/courses/src/routes/projects/ProjectAccordion.tsx`

This is not done yet and let's keep it in the pipeline, just in case :)

[2021-03-20 00:19] tcp opened #147 "Use a hook for user access"
[sat]

[2021-03-20 02:39] #122 closed, assigned to nobody

[2021-03-20 08:08] ITsolution-git commented on #57
@tcp Sorry. we can keep ;)
However, ProjectAccordian was refactored in some ways - using components not JSON. But let me know what needs to be done here.

Thanks!

[2021-03-22 18:29] tcp opened #148 "Syllabus Accordion"
Currently, it is hard to reference the syllabus both in terms of scan-ability and interaction.

- [x]  Truncate the lesson description (After 477 characters, truncate)
- [ ]  Give locked concepts a disable state (@tcp will take this task)
- [x]  Allow user to click any unlocked concept to skip directly to that concept page
- [x] Underline concept name on hover

[2021-03-22 18:30] tcp opened #149 "Rename "What You'll Learn""
It is not clear that user is signing up for a series. One thing that could help is adjusting how we introduce the course cards.

- [ ]  Change title from "What You'll Learn" to "Course Set"
- [ ]  Change "What You'll Learn" body text to "When you signup for this series of courses, you'll learn how privacy is impacting every industry and how to build real-world products with privacy-preserving AI t

[2021-03-22 18:30] tcp opened #150 "Learn from images"
It is unrealistic to expect us to get high quality images of all the different people we have involved in a course.

- [ ]  Unlink Splash Page Carousel images from Teacher images in the CMS
- [ ]  Have a section to add images to the splash/home carousel separate from adding teachers.
- [ ]  Make the Teacher Images Avatars
- [ ]  Redesign the "Who You'll Learn From" section to be avatar focused on

[2021-03-22 18:31] tcp opened #151 "Dashboard UI"
Readability and hierarchy are off.

- [x]  Increase shadow visibility either through reducing blur or decreasing transparency or could add faint gray outline to white cards. Card is currently not clearly defined from the background
- [x]  Increase line spacing between concepts on resume card
- [x]  Make it to where "resume" card only shows 3 concepts. The top two being what the student just finish

[2021-03-22 18:32] tcp opened #152 "Address CTA States"
Adjust and get the CTA states to be more clearly defined and noticeable by the user

[2021-03-22 18:32] tcp opened #153 "Remove lesson number on nav"
Top text in classroom nav is distracting eye from main content

- [x]  Remove "Lesson #:" just have the corresponding icon and the page name
- [x]  For all titles in classroom in the superheader remove previous title and just have "Concept #" or "Lesson #"

Lesson nav
![lesson-nav](https://user-images.githubusercontent.com/802731/112624518-a3531f80-8e25-11eb-957b-eb5a7fcf2a2c.png)

Superheader
![s

[2021-03-22 18:33] tcp opened #154 "Back to lesson overview"
Students cannot click back to the "Lesson Introduction" page

Why?

_Use Case 1_

_Use Case 2_

[2021-03-22 18:34] tcp opened #155 "Splash page carousel"
The carousel is 21 slides long. This is adding image load time that is unnecessary as very few "viewers" will click through all 21. Let's narrow it down to 6 people to highlight.

This is tied to the "Learn From Images" #150 issue, because the carousel images need to be unlinked from just general "Teachers" in the CMS.

[2021-03-22 18:37] tcp opened #156 "Add syllabus link"
Before beginning the next lesson some students will want to see an outline of what all they have left to do.

- [ ]  Add a link out to the syllabus page on the "Lessons Complete" page

(contact @tcp)

[2021-03-22 18:37] tcp opened #157 "Classroom drawer"
When user clicks "resources" the "lessons" and/or the "concepts" accordion is supposed to close

![classroom-drawer](https://user-images.githubusercontent.com/802731/112625131-689db700-8e26-11eb-8719-faf29d4978a2.png)

[2021-03-22 18:38] tcp opened #158 "Courses filter sidebar"
Filtering is a bit of a jarring experience

- [x]  Start with the accordion open (no need for the added friction)
- [x]  Add grow animation so that when the results box appears it isn't so visually abrupt
- [x]  Add shrink animations so that when the filter results box is cleared it isn't so visually abrupt

[2021-03-22 18:39] tcp opened #159 "Mentors course complete requirements in Firebase"
Mentors course completeness adjustments need to be reflected in Firebase

In order to complete the course:
- Mentors need to complete all lessons
- Mentors do not need to complete the projects
- Mentors can only complete courses under this circumstances for courses they are actually mentors for (included in `mentorable_courses`)

[2021-03-25 14:13] curt-mitch commented on #117
@tcp Can you add some details on what the "pending review" rule covers?

[2021-03-25 15:15] tcp commented on #117
Sure @curt-mitch, sorry for not updating this sooner. I'll add to the description.

[2021-03-25 19:39] ITsolution-git commented on #117
Whoops, unassigning myself since I just saw curtis comments. Thanks!
(BTW - I guess we need to save the history of assignments user resigned from. So that it doesn't assign it again)

[2021-03-26 00:23] #159 closed, assigned to ITsolution-git

[2021-03-26 18:32] tcp commented on #58
See #117.

[2021-03-26 18:32] #58 closed, assigned to nobody

[2021-03-27 11:33] tcp opened #162 "Wrong avatar in user profile"
## Description
When visiting someone else's profile, the current user avatar is used instead of the user you're visiting.

## How to Reproduce
1. Visit a profile that is not yours
2. Check the avatar on the left

## Expected Behavior
The user avatar should be displayed.

[2021-03-27 21:52] #117 closed, assigned to ITsolution-git

[2021-03-27 21:58] #162 closed, assigned to tcp

[2021-03-27 21:58] #143 closed, assigned to tcp

[2021-03-27 21:58] #147 closed, assigned to tcp

[2021-03-27 21:58] #114 closed, assigned to ITsolution-git

[2021-03-27 21:59] tcp commented on #136
Fixed by #146

[2021-03-27 22:00] #136 closed, assigned to ITsolution-git

[2021-03-30 07:53] ITsolution-git commented on #151
@tcp

We now show lessons on resume cards not concepts. Should we change this behavior?

[2021-03-30 08:19] ITsolution-git commented on #152
@tcp Can you please clarify in which pages we should improve CTA?

[2021-04-02 10:42] tcp commented on #152
Good question! I'll get more info. :)

[2021-04-02 16:28] ITsolution-git commented on #156
@tcp Please add more details.

[2021-04-02 22:14] tcp commented on #151
Yes.

And the display cases should be one of the following:

[code]

`u`: unfinished concept
`f`: finished concept

[2021-04-05 11:50] #149 closed, assigned to ITsolution-git

[2021-04-05 11:51] #153 closed, assigned to ITsolution-git

[2021-04-05 11:54] #148 closed, assigned to nobody

[2021-04-05 11:55] tcp opened #171 "Give locked concepts a disable state"
[pending]

[2021-04-05 11:56] #157 closed, assigned to ITsolution-git

[2021-04-05 11:58] #158 closed, assigned to ITsolution-git

[2021-04-05 15:56] ITsolution-git commented on #151
@tcp I got that point.

I was asking if we are now showing concepts instead of lessons on that resume card.

[2021-04-06 16:54] tcp commented on #151
Yes, that's the change :)

[2021-04-08 19:29] ITsolution-git commented on #151
![image](https://user-images.githubusercontent.com/24530559/114085217-137a9000-987f-11eb-8f4d-0f24a2386a3a.png)

It now shows the last 2 completed concepts (if any) and next available concept (if any).
If all concepts are completed, it will show the project at the end.

[2021-04-09 08:26] ytlee93 opened #173 "course page locked"
When working on the 'Foundations of Private Computation' course Lesson 1 (13 of 25), the 'next' button is locked and unable to proceed to the next part of the lecture. (There are no quiz questions to answer in that section)
![image](https://user-images.githubusercontent.com/80210231/114151587-d6320300-994f-11eb-9910-cecdabfa0cd6.png)
![image](https://user-images.githubusercontent.com/80210231/1141

[2021-04-14 14:49] ghost opened #174 "Course page locked"
I am stuck at Lesson 2: Split Learning Lesson Overview. The next button is grayed out indicating I should anwser some excercises but there are no excercises.

![afbeelding](https://user-images.githubusercontent.com/80259561/114730700-63ef6300-9d41-11eb-8aea-1be30bc02f8b.png)

[2021-04-14 14:50] tcp commented on #174
Thanks @florian-vandaalen, we'll look into this.

[2021-04-14 14:51] tcp commented on #173
Thank you @ytlee93, we'll look into this.

[2021-04-20 18:15] ITsolution-git commented on #174
@florian-vandaalen Which device are you using?

[2021-04-21 06:54] ghost commented on #174
A windows 10 laptop using firefox as a browser.

[2021-04-24 19:44] ITsolution-git commented on #154
@tcp I think this is done. I see PR is already merged. Please confirm

[2021-04-28 16:54] tcp opened #178 "Sign up"
- [x] Sign up with email and password
- [ ] Sign up with GitHub
- [ ] Users get an email after signing up
- [ ] Redirects to dashboard after sign up
- [ ] Signing up errors handled

[2021-04-28 16:54] tcp opened #179 "Sign in"
- [x] Sign in with email and password
- [ ] Sign in with GitHub
- [ ] Redirects to dashboard after sign in
- [ ] Signing in errors are handled

[2021-04-28 16:58] tcp opened #180 "User Account"

[2021-04-28 16:58] tcp opened #181 "Terms, Privacy Policy"

[2021-05-11 20:49] josecyc opened #182 "Next button not getting activated in Lesson 2: Split Learning Overview"
## Description
The next button is not getting activated and there are no apparent requirements (quiz questions or otherwise) for it to activate. This occurs in Lesson 2: Split Learning Overview. I am using a Chrome on a Linux machine.

## How to Reproduce
1. Go to Lesson 2: Split Learning Overview
2. Scroll down so that the "Next" button gets activated
3. It doesn't get activated

## Expected Beha

[2021-05-13 12:20] #151 closed, assigned to ITsolution-git

[2021-05-13 20:26] #182 closed, assigned to tcp

[2021-05-15 15:12] tcp opened #184 "Load user data from firebase in User Dashboard"
We need to grab the logged in user data in the dashboard. Use the firebase hooks to fetch this data and have it available for this screen.

[2021-05-18 07:41] nigoshh opened #185 "Errors in notebook Additive Secret Sharing"
## Description
Running notebook `Additive Secret Sharing.ipynb` from course _Foundations of Private Computation_, Lesson 9, Concept 4, gives the following errors.

First error:
[code]

Second error:
[code]

The first error can be fixed by changing this line
[code]
to
[code]

I do not know how to solve the second error.

[2021-05-18 08:21] tcp commented on #185
Thank you @nigoshh.

[2021-05-20 20:08] jmaunon commented on #185
@nigoshh , the second error comes from PySyft version, if you want to run this example you need pysyft==0.2.9

[2021-05-26 10:20] fcossio opened #186 "pip install git+https://github.com/OpenMined/PySyft@dev#egg=syft does not work"
## Description
When trying to install syft though the command `pip install git+https://github.com/OpenMined/PySyft@dev#egg=syft` as suggested in "Federated Learning | Concept 13 Duet Exercises: Setup" the following error is returned.
[code]

If I try to install syft from pypi, I get the following error when importing syft
[code]

## How to Reproduce
Error 1:
[code]

Error 2:
[code]

## Expected Be

[2021-05-26 10:48] fcossio commented on #186
After taking a look at the new folder structure and investigating a bit about pip install git+https
https://stackoverflow.com/questions/13566200/how-can-i-install-from-a-git-subdirectory-with-pip
https://pip.pypa.io/en/stable/cli/pip_install/#git
This command is working for the installation of the dev branch in PySyft
`pip install "git+https://github.com/OpenMined/PySyft@dev#egg=syft&subdirectory=

[2021-05-26 10:48] #186 closed, assigned to nobody

[2021-05-29 18:40] kkfuri commented on #156
Would this solution satisfy the issue?
Can I take this task?

![Link_to_course_overview](https://user-images.githubusercontent.com/42350846/120081439-12eac280-c094-11eb-91b5-4faf0f065e36.gif)

[2021-07-01 10:37] #185 closed, assigned to nobody

[2021-08-10 11:07] symabbas opened #199 "courses dashboard doesn't show up"
## Description
Started an OpenMined course but can't seem to get to my Dashboard. The page keeps loading. Logged in via Github.

## How to Reproduce
1. Go to https://courses.openmined.org/users/dashboard

## Expected Behavior
Display of a Dashboard.

## Screenshots
![Screen Shot 2021-08-10 at 4 33 09 PM](https://user-images.githubusercontent.com/51963209/128855952-48dc8a28-6dfc-49b7-a412-96a75709f

[2021-10-17 08:38] pkgadw opened #201 "Unable to connect to aws URL in tutorial"
## Description
Unable to connect AWS duet server URL provided in Lesson 1 https://courses.openmined.org/courses/foundations-of-private-computation/

Below line returns error
duet = sy.join_duet('4814df40925c14ae8f950342e3e8d776', network_url="http://ec2-18-216-8-163.us-east-2.compute.amazonaws.com:5000/")
## How to Reproduce
1. Go to courses\federated-learning\duet_basics\
2. Execute cell 2 of  no